<header class="main-header navbar-light header-sticky header-sticky-smart">
  <div class="topbar d-none d-xl-block border-bottom">
    <a class="container container-xl d-flex justify-content-between align-items-center">
      <ul class="list-inline text-secondary mb-0">
        <li class="list-inline-item mr-5"><i class="fab fa-instagram mr-2"></i>100k Followers</li>
        <li class="list-inline-item"><i class="fab fa-facebook mr-2"></i>300k Followers</li>
      </ul>
      <p class="mb-0 text-secondary">Miễn phí giao hàng cho đơn hàng trên 1.000.000vnd<span class="mx-1">|</span></p>
    </a>
  </div>
  <div class="sticky-area bg-white">
    <div class="container container-xl">
      <nav class="navbar navbar-expand-xl px-0 d-block">
        <div class="d-none d-xl-block">
          <div class="d-flex align-items-center flex-nowrap">
            <div class="w-50">
              <ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n5">
                <div class="mx-auto flex-shrink-0 px-10 py-6 my-1">
                  <div class="d-flex mt-3 mt-xl-0 align-items-center w-100 justify-content-center"> <a
                      class="navbar-brand mx-auto d-inline-block py-0" href="#"> <img src="assets/images/logo.svg"
                        alt="Glowing" style="width: 200px"></a></div>
                </div>
                <li aria-haspopup="true" aria-expanded="false"
                  class="nav-item dropdown-item-home dropdown py-2 py-xl-7 sticky-py-xl-6 px-0 px-xl-5">
                  <a class="nav-link text-nowrap spac p-0" href="#">
                    TRANG CHỦ
                  </a>
                </li>

              </ul>
            </div>
            <div class="w-50">
              <div class="d-flex align-items-center justify-content-end">
                <a href="#search-popup" data-gtf-mfp="true"
                  data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
                  class="nav-search d-flex align-items-center pr-3">
                  <svg class="icon icon-magnifying-glass-light fs-28">
                    <use xlink:href="#icon-magnifying-glass-light"></use>
                  </svg>
                </a>
                <ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
                  <li class="nav-item">
                    <a class="nav-link pr-3 py-0" href="#" data-toggle="modal" data-target="#sign-in">
                      <svg class="icon icon-user-light">
                        <use xlink:href="#icon-user-light"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link position-relative px-4 menu-cart py-0 d-inline-flex align-items-center mr-n2"
                      href="#" data-canvas="true" data-canvas-options='{"container":".cart-canvas"}'>

                      <svg class="icon icon-shopping-bag-open-light">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                      <span class="mr-2 font-weight-bold fs-15">$0.00</span>

                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center d-xl-none">
          <button class="navbar-toggler border-0 px-0 canvas-toggle" type="button" data-canvas="true"
            data-canvas-options='{"width":"250px","container":".sidenav"}'>
            <span class="fs-24 toggle-icon"></span>
          </button>
          <div class="mx-auto"><a class="navbar-brand d-inline-block mr-0 py-5" href="index.html">
              <img src="assets/images/logo.svg" alt="Glowing" style="width: 200px">
            </a></div>
          <a href="#search-popup" data-gtf-mfp="true"
            data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
            class="nav-search d-flex align-items-center">
            <svg class="icon icon-magnifying-glass-light fs-28">
              <use xlink:href="#icon-magnifying-glass-light"></use>
            </svg>
            <span class="d-none d-xl-inline-block ml-2 font-weight-500">Search</span></a>
        </div>
      </nav>
    </div>
  </div>
</header>