<div class="container mx-auto space-y-10">

    <div class="rounded-2xl bg-indigo-900 px-10 py-5   space-y-5">
        <div class="rounded-2xl bg-indigo-900 px-10 py-5 relative space-y-5">
            <div class="flex justify-center relative pb-3">
                <input class="text-3xl text-yellow-500 font-bold uppercase w-full" [(ngModel)]="data.Title"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class=" text-lg text-justify relative">
                <editor class="w-full" [apiKey]="APITINYMCE" [(ngModel)]="data.Mota"
                
                    [ngModelOptions]="{standalone: true}"
                    [init]="configTiny"></editor>
            </div>
        </div>
    </div>


</div>
<div class="relative">

    <div class="absolute left-0 top-0 w-full h-full">
        <img src="/assets/homepage/BG-1.png" class="h-full w-full bg-yellow-500 opacity-10" alt="">
    </div>

    <div class="container mx-auto flex space-x-5 relative">
        <div class="w-full space-y-5">
            <div class=" z-10">
                <div class="flex justify-center relative pb-3 ">
                    <h3 class="text-3xl text-indigo-900 font-bold uppercase">
                        CHỨNG CHỈ HÀNH NGHỀ SPA LÀ GÌ?
                    </h3>
                    <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                </div>

            </div>
            <div class="flex items-center space-x-5">
                <div class="w-1/2 ">
                    <img src="https://drive.google.com/uc?id=1ydsN6qJppU4u_Qu9K-vJwQ-ajHo8Ux_e"
                        class="rounded-2xl w-full" alt="">
                </div>
                <div class="w-1/2 space-y-2">
                    <p class="text-lg text-justify">
                        Chứng chỉ hành nghề spa là giấy chứng nhận
                        dành cho một người đã đủ điều kiện tốt nghiệp
                        một khóa học spa. Với chứng chỉ này, chủ sở
                        hữu có thể chứng minh rằng mình đã trải qua
                        một khóa đào tạo chuyên môn về spa một
                        cách toàn diện và chuyên sâu. Và hiện giờ
                        mình đã đủ trình độ để có thể bắt đầu hành
                        nghề spa trong thời gian sau đó.
                    </p>
                    <p class="text-lg text-justify">
                        Có thể nói, chứng chỉ này rất quan trọng đối
                        với một nhân viên spa vì nó cho thấy trình độ
                        và tay nghề của người nhân viên đó. Do đó, bất
                        kỳ ai muốn theo ngành spa thẩm mỹ đều bắt
                        đầu với việc tìm kiếm cho mình một giấy chứng
                        nhận như trên cả.
                    </p>
                </div>
            </div>
            <div class="space-y-5">
                <div class="flex justify-center relative pb-3">
                    <h3 class="text-3xl text-indigo-900 text-center font-bold uppercase">
                        CHỨNG CHỈ NGÀNH SPA
                        <br>
                        CÓ QUAN TRỌNG HAY KHÔNG?
                    </h3>
                    <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                </div>
                <p class="text-lg text-justify">
                    Thật ra, câu trả lời chính là vì nghề spa thẩm mỹ đang có sức nóng lớn và thu hút được sự theo
                    đuổi của
                    nhiều người. Thế thì tại sao nghề spa lại đang là một ngành nghề có nhiều triển vọng để phát
                    triển như
                    vậy? Dưới đây là năm lý do mà bạn nên theo học nghề spa thẩm mỹ:
                </p>
                <div class="bg-indigo-900 rounded-2xl p-7 space-y-5">
                    <div class="bg-white rounded-[40px] px-3 py-2 flex items-center space-x-3"
                  >
                        <div class="border-[6px] rounded-full text-2xl px-3 py-1 bg-gray-200 border-yellow-500">
                            1
                        </div>
                        <p class="text-lg text-justify text-indigo-900">
                            Nhu cầu làm đẹp của con người ngày một gia tăng. Không chỉ với phái đẹp mà phái mạnh
                            cũng rất quan tâm đén việc chăm sóc da và giữ gìn nhan sắc.
                        </p>
                    </div>
                </div>
                <p class="text-lg text-justify">
                    Với năm lý do trên, hẳn rằng bạn đã hiểu được vì sao spa thẩm mỹ lại có sức nóng đến như vậy
                    trong xã
                    hội hiện nay phải không nào?
                </p>
            </div>
            <div class="space-y-5">
                <div class="flex justify-center relative pb-3">
                    <h3 class="text-3xl text-indigo-900 text-center font-bold uppercase">
                        TẠI SAO BẠN BẮT BUỘC
                        <br>
                        PHẢI CÓ CHỨNG CHỈ NGHỀ SPA?
                    </h3>
                    <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                </div>
                <p class="text-lg text-justify">
                    Câu hỏi đặt ra là giấy chứng chỉ nghề spa quan trọng như thế nào? Nếu không có thì có được theo nghề
                    spa hay không? Thật ra, một nhân viên có chứng chỉ spa có khả năng xin được việc làm cao hơn những
                    nhân viên khác vì chứng chỉ trên cho thấy phần nào trình độ chuyên môn của người đó. Còn nếu bạn có
                    ý định<strong>mở một tiệm spa thẩm mỹ thì điều kiện bắt buộc chính là bạn phải có chứng chỉ hành
                        nghề spa.</strong>
                </p>

                <p class="text-lg text-justify">
                    Trung tâm spa, thẩm mỹ viện, cơ sở làm đẹp cũng là một hình thức ngành nghề kinh doanh. Để có thể
                    hoạt động kinh doanh hợp pháp trong lĩnh vực này, chủ doanh nghiệp - người đại diện pháp luật bắt
                    buộc
                    phải có chứng chỉ hành nghề để chứng minh mình có đủ trình độ trong lĩnh vực kinh doanh đã đăng ký.
                </p>
                <p class="text-lg text-justify">
                    Theo Điều 37 Nghị định 109/2016/NĐ-CP của pháp luật đã có nêu rõ, điều kiện bắt buộc để có thể mở
                    trung tâm spa thẩm mỹ là phải có chứng chỉ hành nghề spa. Hoặc chứng nhận được cấp bởi cơ sở đào
                    tạo dạy nghề spa hợp pháp. Do đó, dù là bạn đang có ý định mở một spa thẩm mỹ hay trở thành một
                    chuyên viên spa chuyên nghiệp thì chứng chỉ hành nghề thẩm mỹ cũng là điều bạn cần quan tâm đến.
                </p>
            </div>
            <div class="space-y-5">
                <div class="flex justify-center relative pb-3">
                    <h3 class="text-3xl text-indigo-900 text-center font-bold uppercase">
                        CHỨNG CHỈ HÀNH NGHỀ SPA
                        <br>
                        CÓ GIÁ TRỊ TRONG BAO LÂU?
                    </h3>
                    <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                </div>
                <p class="text-lg text-justify">
                    Khi theo học chứng chỉ spa tại các trung tâm đào tạo, không ít các thắc mắc về hạn sử dụng chứng chỉ
                    hành nghề được đặt ra. Tuy nhiên, bạn có thể hoàn toàn an tâm vì chứng chỉ spa có giá trị sử dụng vô
                    thời hạn. Do đó, bạn không cần phải theo học các khóa học liên tục hay phải thực hiện một biện pháp
                    gì
                    khác để duy trì hạn sử dụng của chứng chỉ mình nhận được. Tuy nhiên, nếu bạn muốn nâng cao trình độ
                    bản thân thì có thể theo học những khóa học cao cấp và chuyên sâu hơn về nghề để có được chứng chỉ
                    spa Quốc Tế. Và dĩ nhiên, một người có chứng chỉ Quốc Tế sẽ luôn có được nhiều cơ hội để phát triển
                    sự
                    nghiệp hơn.
                </p>


            </div>
            <div class="space-y-5">
                <div class="flex justify-center relative pb-3">
                    <h3 class="text-3xl text-indigo-900 text-center font-bold uppercase">
                        NÊN HỌC NGHỀ SPA Ở ĐÂU TỐT?
                    </h3>
                    <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                </div>
                <p class="text-lg text-justify">
                    Thay vì hỏi rằng nên mua chứng chỉ hành nghề spa ở đâu, bạn hãy bắt đầu với việc tìm kiếm một trung
                    tâm đào tạo spa chuyên nghiệp để theo học. Việc bạn có trở thành một nhân viên spa giỏi hay không
                    phụ thuộc vào việc bạn chọn theo học ở trung tâm đào tạo nào.
                </p>
                <p class="text-lg text-justify">
                    Hiện nay, vì nhu cầu theo học các lớp spa ngày một tăng cao nên không ít các trung tâm đào tạo lớn
                    nhỏ đã có mặt trên khắp cả nước. Tuy nhiên, có thể các trung tâm đào tạo sẽ cấp chứng chỉ hoàn thành
                    khóa học nghề spa cho bạn ngay sau khi kết thúc chương trình học. Nhưng không phải trung tâm nào
                    cũng có thể đảm bảo chất lượng dạy và học cho các học viên của mình. Không ít các bạn trẻ sau khi
                    tốn
                    kém một khoản phí với một lượng thời gian nhất định, học xong nhưng vẫn chưa thể thành thạo tay
                    nghề. Vì lẽ đó, việc lựa chọn nơi học là vấn đề cực kỳ quan trọng mà các học viên nên cân nhắc và
                    tìm
                    hiểu kỹ càng.
                </p>
                <p class="text-lg text-justify">
                    Bạn hoàn toàn có thể nhận được chứng chỉ của nghề spa khi đăng ký để trở thành một học viên tại
                    Timona Academy. Tại sao Timona Academy là câu trả lời hoàn hảo cho những ai đang tìm kiếm một
                    trung tâm đào tạo spa chuyên nghiệp hiện nay? Một số lí do sau đây có thể giúp bạn tìm ra được câu
                    trả
                    lời cho mình:
                </p>
                <div class="bg-indigo-900 rounded-2xl p-7 space-y-5">
                    <div class="bg-white rounded-[60px] h-[100px]  px-3 py-2 flex items-center space-x-3 "
                        *ngFor="let item of items2">
                        <div class="w-1/12">
                            <div class="border-[6px] rounded-full shadow-2xl  bg-gray-200 border-yellow-500">
                                <img src="https://drive.google.com/uc?id={{item.Image}}"
                                    class="rounded-full object-contain" alt="40*40">
                            </div>
                        </div>
                        <div class="flex w-11/12">
                            <p class="text-lg text-justify text-indigo-900">
                                {{item.Des}}
                            </p>
                        </div>
                    </div>
                </div>
                <p class="text-lg text-justify">
                    So với rất nhiều học viện đào tạo thẩm mỹ hiện nay thì Timona Academy chính là một cái tên hoàn hảo
                    mà các bạn trẻ nên nghĩ đến. Đảm bảo về chất lượng dạy học, Timona Academy còn có nhiều chính sách
                    hỗ trợ học viên khác giúp cho bạn trẻ có thể tự tin theo đuổi nghề với bệ phóng vững chắc này.
                </p>
            </div>
            <!-- <div class=" space-y-5  px-10">
                <div class="w-5/6 bg-yellow-500 h-[2px] rounded mx-auto">

                </div>
                <div class="w-full space-y-3" *ngFor="let item of items">
                    <h4 class="text-indigo-900 font-bold text-xl">Nguyễn Uy Di</h4>
                    <p class="text-lg border-b pb-3 border-gray-500">
                        Giảng viên rất nhiệt tình ạ ! Cô dạy rất vui nhưng thực hành chưa được chi tiết lắm
                    </p>
                </div>
            </div> -->
            <!-- <div class="space-y-5">
                <div class="px-10 flex items-center justify-between">
                    <span class="text-xl font-bold text-indigo-900 border-b border-yellow-500">Bình luận</span>
                    <div class="flex items-center space-x-3">
                        <span class="text-xl font-bold text-indigo-900 border-b border-yellow-500">Chia sẻ</span>
                        <img src="https://drive.google.com/uc?id=13zN32R5rZy89HvcJu_9FOu-stw1ag49e" class="rounded-full  w-7 h-7" alt="28*28">
                        <img src="https://drive.google.com/uc?id=1zQMvlSZeEpffbRIOCM7nMqzS0otnZ7HI" class="rounded-full  w-7 h-7" alt="28*28">
                    </div>
                </div>
                <div class="w-full ">
                    <textarea class="w-full h-44  bg-white p-5  rounded-2xl space-y-3 text-xl"
                        placeholder="Nhập bình luận của bạn"></textarea>
                    <div class="flex items-center justify-between px-10">
                        <div class="flex items-center space-x-3 cursor-pointer">
                            <span class="material-icons text-indigo-900">
                                collections
                            </span>
                            <span class="text-xl font-bold text-indigo-900 border-b border-indigo-900">Gửi ảnh</span>

                        </div>
                        <div class="bg-indigo-900 text-yellow-500 rounded-lg cursor-pointer">
                            <span class="text-xl text-yellow-500 border-b border-yellow-500 mx-3 my-2 ">Gửi</span>
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
        
    </div>
</div>