<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
  <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
    <span class="material-icons p-2 hover:bg-gray-200 rounded-full" (click)="CloseDrawer()">
      arrow_back
      </span>
      <div class="text-xl">{{Detail.Title}}</div>
      <div>
        <button mat-raised-button color="primary" (click)="Update(Detail)">Cập Nhật</button>
      </div>
  </div>
  <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">

    <div class="flex flex-col space-y-3 p-4 blog tintuc-sukien">
      <div class="relative w-full bg-white border border-gray-200 rounded-lg shadow">
          <span class="bg-blue-200 text-xs font-medium text-blue-800 text-center p-0.5 leading-none rounded-full px-2 dark:bg-blue-900 dark:text-blue-200 absolute -translate-y-1/2 translate-x-1/2 right-1/2">Tiêu đề - SEO</span>
          <div class="grid grid-cols-3 gap-4 p-3">
              <mat-form-field appearance="outline">
                  <mat-label>Tiêu Đề</mat-label>
                  <input [(ngModel)]="Detail.Title" [ngModelOptions]="{standalone: true}" matInput type="text"
                      class="w-full" placeholder="Tiêu Đề" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Slug</mat-label>
                  <input [(ngModel)]="Detail.Slug" [ngModelOptions]="{standalone: true}" matInput type="text"
                      class="w-full" placeholder="Slug" />
              </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Loại bài viết</mat-label>
                      <mat-select [(ngModel)]="Detail.Loaibaiviet" [ngModelOptions]="{standalone: true}">
                          <mat-option value="0"></mat-option>
                          <mat-option value="1">Nổi bật trên trang chủ</mat-option>
                          <mat-option value="2">Tin nổi bật</mat-option>
                      </mat-select>
                  </mat-form-field>
          </div>
          <div class="grid grid-cols-4 gap-4 p-3">                            
          <div class="w-full">
            <mat-form-field appearance="outline" class="flex w-full">
                <mat-label>Title Seo</mat-label>
                <input [(ngModel)]="Detail.TitleSeo" [ngModelOptions]="{standalone: true}" matInput
                    type="text" class="w-full" placeholder="Title Seo" />
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field appearance="outline" class="flex w-full">
                <mat-label>Des Seo</mat-label>
                <input [(ngModel)]="Detail.DesSeo" [ngModelOptions]="{standalone: true}" matInput
                    type="text" class="w-full" placeholder="Des Seo" />
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field appearance="outline" class="flex w-full">
                <mat-label>KeywordSeo</mat-label>
                <input [(ngModel)]="Detail.KeywordSeo" [ngModelOptions]="{standalone: true}" matInput
                    type="text" class="w-full" placeholder="KeywordSeo" />
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field appearance="outline" class="flex w-full">
                <mat-label>RobotsSeo</mat-label>
                <input [(ngModel)]="Detail.RobotsSeo" [ngModelOptions]="{standalone: true}" matInput
                    type="text" class="w-full" placeholder="RobotsSeo" />
            </mat-form-field>
        </div>
      </div>
      </div>  

<!-- <div class="relative w-full bg-white border border-gray-200 rounded-lg shadow">
          <span class="bg-blue-200 text-xs font-medium text-blue-800 text-center p-0.5 leading-none rounded-full px-2 dark:bg-blue-900 dark:text-blue-200 absolute -translate-y-1/2 translate-x-1/2 right-1/2">Hình Ảnh</span>
            <div class="grid grid-cols-3 gap-4 p-3">
             <div class="flex flex-col space-y-2 p-4 shadow">
              <div class="font-bold text-center">Hình Thumbnail</div>
              <ng-container *ngIf="Detail.Image; else elseTemplate">
                <div class="relative">
                  <img src="{{Detail.Image | checkimage}}">
                  <span class="material-icons absolute right-[-10px] top-[-10px] cursor-pointer"
                  (click)="removeSimpleImage('Image')">
                  cancel
                </span>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="text-center">
                  <img src="/assets/image/logo.svg" class="m-auto w-32" />
                  <div>Chưa có hình ảnh</div>
                </div>
              </ng-template>
      
              <div class="space-y-3 text-center">
                <button mat-raised-button color="primary" (click)="fileInput1.click()">
                  <span>Upload</span>
                  <input #fileInput1 (change)="onFileBrowse($event, 99)" type="file" accept="image/*" class="hidden">
                </button>
                <div class="text-xs">Kích Thước File (800x800)px | Định dạng : .png,jpg | Dung Lượng File dưới 1MB </div>
              </div>
            </div>
          <div class="flex flex-col space-y-2 p-4 shadow">
              <div class="font-bold text-center">Hình Nổi Bật</div>
              <ng-container *ngIf="Detail.Imagenoibat; else elseTemplate">
                <div class="relative">
                  <img src="https://drive.google.com/uc?id={{data.Imagenoibat}}">
                  <span class="material-icons absolute right-[-10px] top-[-10px] cursor-pointer"
                  (click)="removeSimpleImage('Image')">
                  cancel
                </span>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="text-center">
                  <img src="/assets/image/logo.svg" class="m-auto w-32" />
                  <div>Chưa có hình ảnh</div>
                </div>
              </ng-template>
      
              <div class="space-y-3 text-center">
                <button mat-raised-button color="primary" (click)="fileInput1.click()">
                  <span>Upload</span>
                  <input #fileInput1 (change)="onFileBrowse($event, 98)" type="file" accept="image/*" class="hidden">
                </button>
                <div class="text-xs">Kích Thước File (800x800)px | Định dạng : .png,jpg | Dung Lượng File dưới 1MB </div>
              </div>
            </div>
          <div class="flex flex-col space-y-2 p-4 shadow">
              <div class="font-bold text-center">Hình Mobile</div>
              <ng-container *ngIf="data.ImageMobile; else elseTemplate">
                <div class="relative">
                  <img src="https://drive.google.com/uc?id={{data.ImageMobile}}">
                  <span class="material-icons absolute right-[-10px] top-[-10px] cursor-pointer"
                  (click)="removeSimpleImage('Image')">
                  cancel
                </span>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="text-center">
                  <img src="/assets/image/logo.svg" class="m-auto w-32" />
                  <div>Chưa có hình ảnh</div>
                </div>
              </ng-template>
      
              <div class="space-y-3 text-center">
                <button mat-raised-button color="primary" (click)="fileInput1.click()">
                  <span>Upload</span>
                  <input #fileInput1 (change)="onFileBrowse($event, 97)" type="file" accept="image/*" class="hidden">
                </button>
                <div class="text-xs">Kích Thước File (800x800)px | Định dạng : .png,jpg | Dung Lượng File dưới 1MB </div>
              </div>
            </div>
          </div>
      </div> -->
      <div class="relative w-full bg-white border border-gray-200 rounded-lg shadow">
          <span class="bg-blue-200 text-xs font-medium text-blue-800 text-center p-0.5 leading-none rounded-full px-2 dark:bg-blue-900 dark:text-blue-200 absolute -translate-y-1/2 translate-x-1/2 right-1/2">Nội Dung</span>
          <div class="p-4 container mx-auto lg:flex mt-10  space-y-5 lg:space-y-0">
              <div class="lg:space-y-6 text-justify w-full">
                <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Mota" [ngModelOptions]="{standalone: true}"
                [init]="configTiny"></editor>                  
                  <editor [apiKey]="APITINYMCE" [(ngModel)]="Detail.Baiviet" [ngModelOptions]="{standalone: true}"
                   [init]="configTiny1"></editor>
              </div>
          </div>
      </div>


  </div>
    <!-- <div class="flex flex-col space-y-2">
      <mat-form-field appearance="outline">
        <mat-label>Tiêu Đề</mat-label>
        <input matInput placeholder="Tiêu Đề" [(ngModel)]="Detail.Tieude" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Old Link</mat-label>
        <input matInput placeholder=">Old Link" [(ngModel)]="Detail.Oldlink" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Link</mat-label>
        <input matInput placeholder="New Link" [(ngModel)]="Detail.Newlink" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </div> -->
</div>
