<section class="pb-lg-13 pb-11" data-animated-id="1">
    <div class="container">
      <h2 class="text-center my-9">Thanh Toán</h2>
      <form novalidate="">
        <div class="row">
          <div class="col-lg-7 pb-lg-0 pb-11 order-lg-last">
            <div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);">
              <div class="card-header px-0 mx-6 bg-transparent py-5">
                <h4 class="fs-24 mb-5">Đơn Hàng</h4>
                <div class="media w-100 mb-4" *ngFor="let item of cartItems">
                  <div class="w-60px mr-3">
                    <img src="{{item.Hinhanh}}">
                  </div>
                  <div class="media-body d-flex">
                    <div class="cart-price pr-6">
                      <a [href]="'/san-pham/'+item.Slug" class="text-secondary pr-6">{{item.Tieude}}
                        <span class="text-body"> x {{item.soluong}}</span>
                      </a>
                    </div>
                    <div class="ml-auto">
                      <p class="fs-14 text-secondary mb-0 font-weight-bold">{{(item.Gia|number:'1.0-0')||'0'}}đ</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body px-6 pt-5">
                <div class="d-flex align-items-center mb-2">
                  <span>Tổng:</span>
                  <span class="d-block ml-auto text-secondary font-weight-bold">{{ (total|
                                        number:'1.0-0')||'0'}}đ</span>
                </div>
                <div class="d-flex align-items-center">
                  <span>Phí Vận Chuyển:</span>
                  <span class="d-block ml-auto text-secondary font-weight-bold">0đ</span>
                </div>
              </div>
              <div class="card-footer bg-transparent px-0 pb-1 mx-6">
                <div class="d-flex align-items-center font-weight-bold mb-3">
                  <span class="text-secondary">Tổng Cộng :</span>
                  <span class="d-block ml-auto text-secondary fs-24 font-weight-bold">{{ (total|number:'1.0-0')||'0'}}đ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 order-lg-first form-control-01">
            <h4 class="fs-24 pt-1 mb-4">Thông Tin Giao Hàng</h4>
            <div class="mb-3">
              <label class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Họ Tên</label>
              <div class="mb-md-0 mb-4">
                <input type="text" name="firstname" placeholder="Họ Tên" class="form-control border-0">
              </div>
            </div>
            <div class="mb-3">
              <label class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Email</label>
              <div class="mb-md-0 mb-4">
                <input type="text" name="firstname" placeholder="Email" class="form-control border-0">
              </div>
            </div>
            <div class="mb-3">
              <label class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Số Điện Thoại</label>
              <div class="mb-md-0 mb-4">
                <input type="text" name="firstname" placeholder="SDT" class="form-control border-0">
              </div>
            </div>
            <div class="mb-3">
              <label class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Địa Chỉ</label>
              <div class="mb-md-0 mb-4">
                  <div *ngFor="let item of CUser.Diachi">
                    <input type="radio" name="radioOption" [(ngModel)]="DiachiGH" [value]="item">
                    <label> <span *ngIf="item.active" class="badge badge-pill badge-success">Mặc Định</span> {{item.Diachi+','}}{{item.Tinh+','}}{{item.Quan+','}}{{item.Phuong}}</label>
                  </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Ghi Chú</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <span class="material-icons" data-toggle="modal" data-target="#exampleModal"> add_circle </span>
            <!-- <div class="custom-control custom-checkbox mt-6 mb-5">
              <input type="checkbox" name="customCheck6" checked="" id="customCheck5" class="custom-control-input">
              <label for="customCheck5" class="custom-control-label custom-control-label-secondary text-secondary">
                <span class="text-body">Địa chỉ thanh toán giống với địa chỉ giao hàng</span>
              </label>
            </div> -->
            <button (click)="Dathang()" class="btn btn-secondary bg-hover-primary border-hover-primary px-7 mt-6" >Đặt Hàng</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm Địa Chỉ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex row">
            <div class="form-group col-lg-6">
              <label>Địa Chỉ</label>
              <div class="input-group mb-3">
                <input matInput type="text" class="form-control" [(ngModel)]="ChosenDiachi" [ngModelOptions]="{standalone: true}" placeholder="Địa Chỉ">
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label>Tỉnh/Thành Phố</label>
              <select class="form-control" [(ngModel)]="ChosenTinh" (change)="onTinhChange($event)">
                <option [value]="item.name" *ngFor="let item of filterTinh">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>Quận/ Huyện</label>
              <select class="form-control" [(ngModel)]="ChosenQuan" (change)="onQuanChange($event)">
                <option [value]="item.name" *ngFor="let item of filterQuan">{{item.name}}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>Phường/ Xã</label>
              <select class="form-control" [(ngModel)]="ChosenPhuong">
                <option [value]="item.name" *ngFor="let item of filterPhuong">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ThemDiachi()">Lưu</button>
        </div>
      </div>
    </div>
  </div>