<section class="pb-lg-13 pb-11" data-animated-id="1">
    <div class="container">
        <h2 class="text-center my-9">Thanh Toán</h2>
        <form novalidate="">
            <div class="row">
                <div class="col-lg-5 pb-lg-0 pb-11 order-lg-last">
                    <div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);">
                        <div class="card-header px-0 mx-6 bg-transparent py-5">
                            <h4 class="fs-24 mb-5">Đơn Hàng</h4>
                            <div class="media w-100 mb-4">
                                <div class="w-60px mr-3"><img src="assets/phuc-hoi-chuyen-sau_1685412625474.jpg"></div>
                                <div class="media-body d-flex">
                                    <div class="cart-price pr-6"><a href="#" class="text-secondary pr-6">Mặt nạ tảo
                                            biển phục hồi sáng da T.201 H.Derma Algae Extract Hydrating Mask<span
                                                class="text-body"> x 1</span></a></div>
                                    <div class="ml-auto">
                                        <p class="fs-14 text-secondary mb-0 font-weight-bold">300,000đ</p>
                                    </div>
                                </div>
                            </div><!---->
                        </div>
                        <div class="card-body px-6 pt-5">
                            <div class="d-flex align-items-center mb-2"><span>Tổng:</span><span
                                    class="d-block ml-auto text-secondary font-weight-bold">300,000đ</span></div>
                            <div class="d-flex align-items-center"><span>Phí Vận Chuyển:</span><span
                                    class="d-block ml-auto text-secondary font-weight-bold">0đ</span></div>
                        </div>
                        <div class="card-footer bg-transparent px-0 pb-1 mx-6">
                            <div class="d-flex align-items-center font-weight-bold mb-3">
                                <span class="text-secondary">Tổng Cộng :</span><span
                                    class="d-block ml-auto text-secondary fs-24 font-weight-bold">300,000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 order-lg-first form-control-01">
                    <h4 class="fs-24 pt-1 mb-4">Thông Tin Giao Hàng</h4>
                    <div class="mb-3"><label class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Họ
                            Tên</label>
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-4"><input type="text" id="first-name" name="firstname"
                                    placeholder="Họ" class="form-control border-0"></div>
                            <div class="col-md-6"><input type="text" id="last-name" name="lasttname" placeholder="Tên"
                                    class="form-control border-0"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-4"><label for="tinh"
                                    class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Tỉnh/Thành
                                    Phố</label><select placeholder="Tỉnh/Thành Phố" class="form-control border-0">
                                </select></div>
                            <div class="col-md-6 mb-md-0 mb-4"><label for="quan"
                                    class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">Quận</label><select
                                    placeholder="Quận" class="form-control border-0"><!----></select></div>
                        </div>
                    </div>
                    <div class="mb-3"><label
                            class="mb-2 fs-13 letter-spacing-01 font-weight-600 text-uppercase">info</label>
                        <div class="row">
                            <div class="col-md-6 mb-md-0 mb-4"><input type="email" id="email" name="email"
                                    placeholder="Email" required="" class="form-control border-0"></div>
                            <div class="col-md-6"><input type="number" id="phone" name="phone"
                                    placeholder="Phone number" required="" class="form-control border-0"></div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox mt-6 mb-5"><input type="checkbox" name="customCheck6"
                            checked="" id="customCheck5" class="custom-control-input"><label for="customCheck5"
                            class="custom-control-label custom-control-label-secondary text-secondary"><span
                                class="text-body">Địa chỉ thanh toán giống với địa chỉ giao
                                hàng</span></label></div><button type="submit"
                        class="btn btn-secondary bg-hover-primary border-hover-primary px-7 mt-6">Đặt Hàng</button>
                </div>
            </div>
        </form>
    </div>
</section>