<div class="flex flex-col space-y-3 p-4 shadow">
    <div class="grid grid-cols-3 gap-3">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Tỉnh/Thành Phố</mat-label>
        <input type="text" matInput placeholder="Tỉnh/Thành Phố" [(ngModel)]="ChosenTinh"
          (ngModelChange)="onTinhChange($event)" [matAutocomplete]="autoTinh">
        <mat-autocomplete #autoTinh="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filterTinh" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Quận/Huyện</mat-label>
        <input type="text" matInput placeholder="Quận/Huyện" [(ngModel)]="ChosenQuan"
          (ngModelChange)="onQuanChange($event)" [matAutocomplete]="autoQuan">
        <mat-autocomplete #autoQuan="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filterQuan" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Phường/Xã</mat-label>
        <input type="text" matInput placeholder="Phường/Xã" [(ngModel)]="ChosenPhuong"
          (ngModelChange)="onPhuongChange($event)" [matAutocomplete]="autoPhuong">
        <mat-autocomplete #autoPhuong="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filterPhuong" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Tên Đường, Số Nhà, Toà Nhà</mat-label>
      <input matInput placeholder="Tên Đường, Số Nhà, Toà Nhà" [(ngModel)]="ChosenDiachi" />
    </mat-form-field>
    <div class="flex flex-row justify-center space-x-3">
    <button mat-raised-button class="bg-blue-600 text-white" (click)="ThemDiachi()">Thêm Mới</button>
    <button mat-raised-button color="warn" [routerLink]="['../']">Huỷ</button>
     </div>
</div>