<div class="relative w-full h-full" >
    <div class="w-full max-w-xs absolute img-center left-1/2 top-1/2" *ngIf="!isDangky">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="signInForm" >
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Số điện thoại
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="0912345678" [formControlName]="'SDT'">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input [formControlName]="'password'" (keyup.enter)="signIn()"
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="signIn()">
                    Đăng nhập
                </button>
                <button class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" (click)="isDangky = true">
                    Đăng ký
                </button>
            </div>
        </form>
    </div>
    <div class="w-full max-w-xs absolute img-center left-1/2 top-1/2" *ngIf="isDangky">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="signUpForm" >
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Họ và tên
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="hoten" type="text" [formControlName]="'Hoten'" placeholder="Họ và tên" >
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Số điện thoại
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" type="text" placeholder="0912345678" [formControlName]="'SDT'">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                   Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" type="text" [formControlName]="'email'" placeholder="abc@gmail.com" >
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input [formControlName]="'password'" 
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="password" type="password" placeholder="******************">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Nhập lại mật khẩu
                </label>
                <input [formControlName]="'confirmPassword'" 
                    class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                    id="confirmPassword" type="confirmPassword" placeholder="******************">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="signUp()">
                    Đăng ký
                </button>
                <button class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" (click)="isDangky = false">
                    Đăng nhập
                </button>
            </div>
        </form>
    </div>
    
</div>