@import 'node_modules/angular-notifier/styles';
body {
    font-family: 'Quicksand', sans-serif !important;
}
.tieude {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.tieude:hover {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: visible
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #ddd
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #00256e
}

.text-decoration-through {
    text-decoration: line-through
}

.footer p {
    margin-bottom: 0!important
}
.slick-dots li button:before {
    font-size: 15px !important;
}
.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}
.slick-arrow.slick-prev {
    left: 20px !important;
  }

.slick-arrow.slick-next {
    right: 40px !important;
  }