<section class="mx-0 slick-slider slick-dots-light dots-inner-center slider"
  data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":true,"dots":true,"arrows":false,"fade":true,"cssEase":"ease-in-out","speed":600}'>
  <div class="box px-0">
    <div class="card border-0">
      <!-- <img class="card-img" src="assets/trangchu/trangchu1.jpg"> -->
      <img src="assets/trangchu/trangchu1.jpg" class="card-img d-lg-flex d-none">
      <img src="assets/trangchu/trangchu1_mobile.jpg" class="card-img d-lg-none d-flex">
      <div class="card-img-overlay py-12 py-lg-17 d-lg-flex d-none">
        <div data-animate="fadeInDown">
          <div class="card pl-lg-1 mx-md-0 mx-auto" style="max-width: 600px">
            <div class="card-body pt-7 pb-8 px-7">
              <h1 class="card-title mb-4 fs-36 fs-md-36 lh-116 pr-lg-8">VẺ ĐẸP LÀ SỰ PHÙ HỢP </h1>
              <p class="card-text fs-18 lh-166 mb-5 pr-lg-7" style="max-width: 600px">H.Derma cung cấp giải pháp điều
                trị và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</p>
              <a [routerLink]="['/san-pham']" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO
                CỬA HÀNG</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box px-0">
    <div class="card border-0">
      <!-- <img class="card-img" src="assets/trangchu/trangchu2.jpg"> -->
      <img src="assets/trangchu/trangchu2.jpg" class="card-img d-lg-flex d-none">
      <img src="assets/trangchu/trangchu2_mobile.jpg" class="card-img d-lg-none d-flex">
      <div class="card-img-overlay py-12 py-lg-17 d-lg-flex d-none">
      </div>
    </div>
  </div>
  <div class="box px-0">
    <div class="card border-0">
      <!-- <img class="card-img" src="assets/trangchu/trangchu2.jpg"> -->
      <img src="assets/trangchu/trangchu3.jpg" class="card-img d-lg-flex d-none">
      <img src="assets/trangchu/trangchu3_mobile.jpg" class="card-img d-lg-none d-flex">
      <div class="card-img-overlay py-12 py-lg-17 d-lg-flex d-none">
      </div>
    </div>
  </div>
  <!-- <div class="box px-0">
      <div class="bg-img-cover-center py-12 py-lg-17" style="background-image: url('assets/trangchu/trangchu2.jpg');">
        <div class="container container-xl py-6">
          <div data-animate="fadeInDown" class="opacity-0">
            <div class="card pl-lg-1 mx-md-0 mx-auto" style="max-width: 600px">
              <div class="card-body pt-7 pb-8 px-7">
                <h1 class="card-title mb-4 fs-36 fs-md-48 lh-116 pr-lg-8">VẺ ĐẸP LÀ SỰ PHÙ HỢP </h1>
                <p class="card-text fs-18 lh-166 mb-5 pr-lg-7" style="max-width: 600px">H.Derma cung cấp giải pháp điều
                  trị và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</p>
                <a [routerLink]="['/san-pham']" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO
                  CỬA HÀNG</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  <!-- <div class="box px-0">
      <div class="bg-img-cover-center py-12 py-lg-17" style="background-image: url('assets/images/bg-slider-16.jpg');">
        <div class="container container-xl py-6">
          <div data-animate="fadeInDown">
            <div class="card pl-lg-1 mx-md-0 mx-auto" style="max-width: 600px">
              <div class="card-body pt-7 pb-8 px-7">
                <h1 class="card-title mb-4 fs-36 fs-md-48 lh-116 pr-lg-8">CHIỀU DA HẾT Ý </h1>
                <p class="card-text fs-18 lh-166 mb-5 pr-lg-7" style="max-width: 454px">H.Derma cung cấp giải pháp điều
                  trị và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</p>
                <a href="shop-page-04.html" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO
                  CỬA HÀNG</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</section>


<section class="pt-10 pt-lg-12">
  <div class="container container-xl">
    <h2 class="text-center mb-9 text-uppercase">Lý do lựa chọn H.Derma?</h2>
    <div class="row">
      <div class="col-lg-3 col-6 mb-6 mb-lg-0">
        <div class="card border-0 text-center">
          <div class="mw-140 mx-auto"> <img src="assets/images/secure-payment-icon.svg" style="height:80px"
              alt="Guaranteed PURE"></div>
          <div class="card-body px-0 pt-4 mt-1 pb-0">
            <h3 class="fs-24 mb-3">THANH TOÁN AN TOÀN</h3>
            <p class="mb-0 px-lg-6 d-lg-flex d-none">Đơn giản - An toàn - Không chút rắc rối mà lại an tâm tuyệt đối</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6 mb-6 mb-lg-0">
        <div class="card border-0 text-center">
          <div class="mw-140 mx-auto"> <img src="assets/images/fast-shipping.svg" style="height:80px"
              alt="Guaranteed PURE">
          </div>
          <div class="card-body px-0 pt-4 mt-1 pb-0">
            <h3 class="fs-24 mb-3">GIAO HÀNG NHANH</h3>
            <p class="mb-0 px-lg-6 d-lg-flex d-none">Tối ưu chi phí vận chuyển đến 63 quận/ huyện tỉnh thành toàn quốc.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6 mb-6 mb-lg-0">
        <div class="card border-0 text-center">
          <div class="mw-140 mx-auto"> <img src="assets/images/discount-icon.svg" style="height:80px"
              alt="Completely Cruelty-Free"></div>
          <div class="card-body px-0 pt-4 mt-1 pb-0">
            <h3 class="fs-24 mb-3">ƯU ĐÃI ĐỘC QUYỀN</h3>
            <p class="mb-0 px-lg-6 d-lg-flex d-none">Đăng ký thành viên để được hưởng trợ giá và đặc quyền ưu đãi.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-6 mb-6 mb-lg-0">
        <div class="card border-0 text-center">
          <div class="mw-140 mx-auto"> <img src="assets/images/services-support.svg" style="height:80px"
              alt="Ingredient Sourcing"></div>
          <div class="card-body px-0 pt-4 mt-1 pb-0">
            <h3 class="fs-24 mb-3">TƯ VẤN CHUYÊN GIA</h3>
            <p class="mb-0 px-lg-6 d-lg-flex d-none">Hỗ trợ tư vấn 24/7 giúp rút ngắn lộ trình điều trị - An toàn - Hiệu
              quả
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-lg-13 pt-11">
  <div class="container container-xl">
    <div class="row">
      <div class="col-12">
        <h2 class="text-heading text-center mb-6 text-uppercase">Giải Pháp Cho Tình Trạng Da</h2>
        <ul class="nav nav-pills justify-content-center mb-lg-9 mb-7" role="tablist">
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link active text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Skincare-tab" data-toggle="pill" href="#pills-Skincare" role="tab"
              aria-controls="pills-Skincare" aria-selected="true">Trị nám da</a>
          </li>
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link  text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Bodycare-tab" data-toggle="pill" href="#pills-Bodycare" role="tab"
              aria-controls="pills-Bodycare" aria-selected="true">Trẻ hóa da</a>
          </li>
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link  text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Haircare-tab" data-toggle="pill" href="#pills-Haircare" role="tab"
              aria-controls="pills-Haircare" aria-selected="true">Cấp ẩm da</a>
          </li>
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link  text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Accessories-tab" data-toggle="pill" href="#pills-Accessories" role="tab"
              aria-controls="pills-Accessories" aria-selected="true">Làm Sạch Sâu</a>
          </li>
        </ul>

        <!-- <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">

              <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel> -->
        <div class="tab-content p-0 shadow-none" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-Skincare" role="tabpanel"
            aria-labelledby="pills-Skincare-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)">
              <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
                *ngFor="let item of GetTags(Sanphams,['001','002','004','005'])">
                <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                  <div class="position-relative">
                    <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                  </div>
                  <div class="card-body px-0 pt-4 text-center">
                    <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                      <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                        *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                      <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                    </p>
                    <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                    </h2>
                    <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>
          </div>
          <div class="tab-pane fade " id="pills-Bodycare" role="tabpanel" aria-labelledby="pills-Bodycare-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
              (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
              (beforeChange)="beforeChange($event)">
              <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
                *ngFor="let item of GetTags(Sanphams,['T.610','003','T.606'])">
                <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                  <div class="position-relative">
                    <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                  </div>
                  <div class="card-body px-0 pt-4 text-center">
                    <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                      <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                        *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                      <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                    </p>
                    <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                    </h2>
                    <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                  </div>
                </a>
              </div>
            </ngx-slick-carousel>

          </div>
          <div class="tab-pane fade " id="pills-Haircare" role="tabpanel" aria-labelledby="pills-Haircare-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
              *ngFor="let item of GetTags(Sanphams,['D.350','T.201','D.502'])">
              <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                <div class="position-relative">
                  <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                </div>
                <div class="card-body px-0 pt-4 text-center">
                  <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                    <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                      *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                    <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                  </p>
                  <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                  </h2>
                  <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                </div>
              </a>
            </div>
          </ngx-slick-carousel>
          </div>
          <div class="tab-pane fade " id="pills-Accessories" role="tabpanel" aria-labelledby="pills-Accessories-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
              *ngFor="let item of GetTags(Sanphams,['D.100','D.504','D.201','D.202'])">
              <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                <div class="position-relative">
                  <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                </div>
                <div class="card-body px-0 pt-4 text-center">
                  <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                    <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                      *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                    <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                  </p>
                  <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                  </h2>
                  <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                </div>
              </a>
            </div>
          </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-11 pt-lg-13">
  <div class="container container-xl">
    <div class="row">
      <div class="col-lg-12">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slide1Config"
        (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
        <div class="box" ngxSlickItem>
          <div class="card border-0 p-sm-7 p-6 bg-gray rounded">
            <div class="card-body px-3 py-0">
              <ul class="list-inline mb-4">
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
              </ul>
              <p class="card-text mb-7 fs-14 ali font-weight-600 text-primary text-justify"><strong
                  id="docs-internal-guid-5714ee85-7fff-2413-16a8-54fc344e7f3c">&ldquo;Mình rất yên tâm và tin tưởng
                  lựa chọn các dòng sản phẩm từ H.Derma. Hầu hết khi sử dụng đều không gặp bất cứ ảnh hưởng tiêu cực
                  gì đến làn da. Nếu có ý định &ldquo;kết thân&rdquo; với sản phẩm của thương hiệu này thì bạn không
                  cần lo lắng về vấn đề an toàn.&rdquo;</strong></p>
              <div class="media align-items-center">
                <div class="media-body">
                  <h4 class="text-secondary fs-15 font-weight-bold text-uppercase mb-1 letter-spacing-01">
                    <strong>KHÁCH HÀNG THẢO TIÊN</strong>
                  </h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box" ngxSlickItem>
          <div class="card border-0 p-sm-7 p-6 bg-gray rounded">
            <div class="card-body px-3 py-0">
              <ul class="list-inline mb-4">
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
              </ul>
              <p class="card-text mb-7 fs-14 font-weight-600 text-justify text-primary"><strong
                  id="docs-internal-guid-a675f907-7fff-0bef-bf7e-000e947c1204">“Nó không chỉ làm mờ nếp nhăn, vết chân chim – nỗi lo lắng bấy lâu của mình, mà ngay cả lỗ chân lông cũng được se khít, vết thâm sạm nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của sản phẩm nhà H.Derma chỗ KHÔNG gây kích ứng da.”&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
              <div class="media align-items-center">
                <div class="media-body">
                  <h4 class="text-secondary fs-15 font-weight-bold text-uppercase mb-1 letter-spacing-01">KHÁCH HÀNG
                    QUỲNH NGA</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box" ngxSlickItem>
          <div class="card border-0 p-sm-7 p-6 bg-gray rounded">
            <div class="card-body px-3 py-0">
              <ul class="list-inline mb-4">
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
                <li class="list-inline-item fs-14 text-primary mr-0"><i class="fas fa-star"></i></li>
              </ul>
              <p class="card-text mb-7 fs-14 font-weight-600 text-justify text-primary"><strong
                    id="docs-internal-guid-f27d5dca-7fff-d898-a67b-d8e5b119b">“Nó không chỉ làm mờ nếp nhăn, vết chân chim – nỗi lo lắng bấy lâu của mình, mà ngay cả lỗ chân lông cũng được se khít, vết thâm sạm nám cũng mờ và giảm hẳn. “Xuất sắc” nhất của sản phẩm nhà H.Derma chỗ KHÔNG gây kích ứng da.”&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    <br/>
                  </strong></p>
              <div class="media align-items-center">
                <div class="media-body">
                  <h4 class="text-secondary fs-15 font-weight-bold text-uppercase mb-1 letter-spacing-01"> bs. dA
                    LIỄU NGUYỄN THỊ NGỌC MAI</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>
        </div>           
      </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<section class="pt-lg-13 pt-11">
  <div class="container container-xl">
    <div class="row">
      <div class="col-12">
        <h2 class="text-heading text-center mb-6">H.DERMA GỢI Ý CHO BẠN</h2>
        <ul class="nav nav-pills justify-content-center mb-lg-9 mb-7" role="tablist">
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link active text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Skincare-tab2" data-toggle="pill" href="#sanphambanchay" role="tab"
              aria-controls="pills-Skincare" aria-selected="true">SẢN PHẨM BÁN CHẠY</a>
          </li>
          <li class="nav-item px-md-4 px-3">
            <a class="pointer nav-link  text-body px-0 py-1 lh-1 fs-20 font-weight-600 bg-transparent rounded-0 text-active-secondary border-active-secondary border-bottom border-white"
              id="pills-Bodycare-tab2" data-toggle="pill" href="#sanphammoi" role="tab" aria-controls="pills-Bodycare"
              aria-selected="true">SẢN PHẨM MỚI</a>
          </li>
        </ul>
        <div class="tab-content p-0 shadow-none" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="sanphambanchay" role="tabpanel"
            aria-labelledby="pills-Skincare-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
              *ngFor="let item of Soluong(Sanphams,0,4)">
              <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                <div class="position-relative">
                  <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                </div>
                <div class="card-body px-0 pt-4 text-center">
                  <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                    <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                      *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                    <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                  </p>
                  <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                  </h2>
                  <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                </div>
              </a>
            </div>
          </ngx-slick-carousel>
          </div>
          <div class="tab-pane fade show" id="sanphammoi" role="tabpanel" aria-labelledby="pills-Bodycare-tab">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
              *ngFor="let item of Soluong(Sanphams,4,8)">
              <a class="card border-0 product" [routerLink]="['san-pham/'+item.Slug]">
                <div class="position-relative">
                  <img *ngIf="item.Hinhanh.hinhthongtin" src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}" alt="">
                </div>
                <div class="card-body px-0 pt-4 text-center">
                  <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                    <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
                      *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                    <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
                  </p>
                  <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
                  </h2>
                  <a [href]="[item.Slug]" class="text-center text-primary">Xem Ngay</a>
                </div>
              </a>
            </div>
          </ngx-slick-carousel>        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- <div class="bg-img-cover-center py-12 py-lg-17" style="background-image: url('assets/trangchu/trangchu3.jpg');">
    <div class="container container-xl py-6">
      <div data-animate="fadeInDown">
        <div class="card-body pt-7 pb-8 px-7">
          <h1 class="card-title mb-4 fs-36 fs-md-48 lh-116 pr-lg-8">CHIỀU DA HẾT Ý </h1>
          <p class="card-text fs-18 lh-166 mb-5 pr-lg-7" style="max-width: 454px">H.Derma cung cấp giải pháp điều trị
            và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</p>
          <a [routerLink]="'san-pham'" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO CỬA
            HÀNG</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="box px-0">
    <div class="card border-0">
      <!-- <img class="card-img" src="assets/trangchu/trangchu2.jpg"> -->
      <img src="assets/trangchu/hinhgiua.jpg" class="card-img d-lg-flex d-none">
      <img src="assets/trangchu/hinhgiua_mobile.jpg" class="card-img d-lg-none d-flex">
      <div class="card-img-overlay py-10 py-lg-12 d-lg-flex d-none" style="left:15%">
        <div class="card-body pt-7 pb-8 px-7">
          <h1 class="card-title mb-4 fs-36 fs-md-48 lh-116 pr-lg-8">CHIỀU DA HẾT Ý </h1>
          <p class="card-text fs-18 lh-166 mb-5 pr-lg-7" style="max-width: 454px">H.Derma cung cấp giải pháp điều trị
            và phục hồi chuyên sâu cho từng tình trạng da ở mức độ cấp tế bào.</p>
          <a [routerLink]="'san-pham'" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO CỬA
            HÀNG</a>
        </div>
      </div>
      <div class="card-img-overlay d-lg-none d-flex">
        <div class="card-body p-4 w-100 text-center position-absolute" style="right: 0;bottom: 0;">
          <a [routerLink]="'san-pham'" class="btn btn-secondary rounded bg-hover-primary border-0 card-link">VÀO CỬA
            HÀNG</a>
        </div>
      </div>
    </div>
  </div>
<section class="pt-10 pb-lg-12 pb-6 pb-md-9">
  <div class="container container-xl">
    <div class="row">
      <div class="col-12 text-center text-uppercase mb-6">
        <h2>Khám Phá Hderma</h2>
      </div>
    </div>
    <div class="row">
      <a [routerLink]="'san-pham'" class="col-md-4 mb-6 mb-md-0">
        <div class="card border-0 text-center hover-shine">
          <div class="d-block hover-shine hover-zoom-in">
            <img src="assets/trangchu/hethongcuahang.jpg" alt="Find a Store">
          </div>
          <div class="card-body px-0 pt-6 pb-0">
            <h3 class="fs-24 mb-2">
              <span class="text-decoration-none">Vào cửa hàng</span>
            </h3>
            <div class="btn btn-link text-secondary">Tìm ngay<i class="far fa-arrow-right fs-12 pl-1"></i></div>
          </div>
        </div>
      </a>
      <a [routerLink]="'bai-viet'" class="col-md-4 mb-6 mb-md-0">
        <div class="card border-0 text-center hover-shine">
          <div class="d-block hover-shine hover-zoom-in">
            <img src="assets/trangchu/chiase.jpg" alt="From Our Blog">
          </div>
          <div class="card-body px-0 pt-6 pb-0">
            <h3 class="fs-24 mb-2"><span class="text-decoration-none">Góc chia sẻ</span></h3>
            <div class="btn btn-link text-secondary">Xem thêm<i class="far fa-arrow-right fs-12 pl-1"></i></div>
          </div>
        </div>
      </a>
      <a [routerLink]="'ve-chung-toi'" class="col-md-4 mb-6 mb-md-0">
        <div class="card border-0 text-center hover-shine">
          <div class="d-block hover-shine hover-zoom-in">
            <img src="assets/trangchu/hderma.jpg" alt="Our Story">
          </div>
          <div class="card-body px-0 pt-6 pb-0">
            <h3 class="fs-24 mb-2"><span class="text-decoration-none">Câu chuyện H.derma</span></h3>
            <div class="btn btn-link text-secondary">Đọc ngay<i class="far fa-arrow-right fs-12 pl-1"></i></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>