<section class="pt-11 pb-9 pb-lg-10 product-details-layout-1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-xl-9 mb-8 mb-md-0">
        <div class="galleries-product galleries-product-01 position-relative d-flex ">
          <div class="slick-slider slider-for mx-0 pl-xl-5"
            data-slick-options='{"slidesToShow": 1,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-nav","responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
                   
            <div class="box px-0">
              <div class="card p-0 rounded-0 border-0">
                  <img (click)="open(Sanpham,'hinh1')" src="{{GetImage(Sanpham.Hinhanh.hinh1.spath)}}" alt="product gallery" class="w-100">
              </div>
            </div>
            <div class="box px-0">
              <div class="card p-0 rounded-0 border-0">
                  <img (click)="open(Sanpham,'hinh2')" src="{{GetImage(Sanpham.Hinhanh.hinh2.spath)}}" alt="product gallery" class="w-100">
              </div>
            </div>
            <div class="box px-0">
              <div class="card p-0 rounded-0 border-0">
                  <img (click)="open(Sanpham,'hinh3')" src="{{GetImage(Sanpham.Hinhanh.hinh3.spath)}}" alt="product gallery" class="w-100">
              </div>
            </div>
            <div class="box px-0">
              <div class="card p-0 rounded-0 border-0">
                  <img (click)="open(Sanpham,'hinh4')" src="{{GetImage(Sanpham.Hinhanh.hinh4.spath)}}" alt="product gallery" class="w-100">
              </div>
            </div>
          </div>
          <div class="slick-slider slider-nav mx-n1 mx-xl-0"
            data-slick-options='{"slidesToShow": 4,"vertical":true, "autoplay":false,"dots":false,"arrows":false,"asNavFor": ".slider-for","focusOnSelect": true,"responsive":[{"breakpoint": 1200,"settings": {"vertical": false}}]}'>
            <div class="box px-1 px-xl-0 py-4 pt-xl-0">
              <img src="{{GetImage(Sanpham.Hinhanh.hinh1.spath)}}" class="w-100" alt="product gallery">
            </div>
            <div class="box px-1 px-xl-0 py-4 pt-xl-0">
              <img src="{{GetImage(Sanpham.Hinhanh.hinh2.spath)}}" class="w-100" alt="product gallery">
            </div>
            <div class="box px-1 px-xl-0 py-4 pt-xl-0">
              <img src="{{GetImage(Sanpham.Hinhanh.hinh3.spath)}}" class="w-100" alt="product gallery">
            </div>
            <div class="box px-1 px-xl-0 py-4 pt-xl-0">
              <img src="{{GetImage(Sanpham.Hinhanh.hinh4.spath)}}" class="w-100" alt="product gallery">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <p class="d-flex align-items-center mb-3">
          <span class="text-line-through" *ngIf="Giamgia!=0">{{(Sanpham.Gia | number:'1.0-0')||'0'}}đ</span>
          <span class="fs-18 text-secondary font-weight-bold ml-3">{{(Sanpham.GiaSale | number:'1.0-0')||'0'}}đ</span>
          <span class="badge badge-primary fs-16 ml-4 font-weight-600 px-3" *ngIf="Giamgia!=0">{{Giamgia*100}}%</span>
        </p>
        <h2 class="fs-24 mb-2">{{Sanpham.Tieude}}
        </h2>
        <div class="d-flex align-items-center flex-wrap mb-3 lh-12">
          <p class="mb-0 font-weight-600 text-secondary">4.86</p>
          <ul class="list-inline d-flex mb-0 px-3 rating-result">
            <li class="list-inline-item mr-0">
              <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
            </li>
            <li class="list-inline-item mr-0">
              <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
            </li>
            <li class="list-inline-item mr-0">
              <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
            </li>
            <li class="list-inline-item mr-0">
              <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
            </li>
            <li class="list-inline-item mr-0">
              <span class="text-primary fs-12 lh-2"><i class="fas fa-star"></i></span>
            </li>
          </ul>
          <a href="#" class="pl-3 border-left border-gray-2 text-body">2947 Đánh Giá</a>
        </div>
        <p class="mb-5" [innerHTML]="Sanpham.Mota"></p>
        <form>
          <!-- <div class="form-group shop-swatch mb-4 d-flex align-items-center">
            <span class="font-weight-600 text-secondary mr-4">Size: </span>
            <ul class="list-inline d-flex justify-content-start mb-0">
              <li class="list-inline-item mr-2 selected font-weight-600">
                <a href="#" class="fs-14 p-2 lh-13 d-block swatches-item rounded text-decoration-none border"
                  data-var="full size">Full size</a>
              </li>
              <li class="list-inline-item font-weight-600">
                <a href="#" class="fs-14 p-2 lh-13 d-block swatches-item rounded text-decoration-none border"
                  data-var="mini size">Mini size</a>
              </li>
            </ul>
            <select name="swatches" class="form-select swatches-select d-none" aria-label="Default select example">
              <option selected value="full size">Full size</option>
              <option value="mini size">Mini size</option>
            </select>
          </div> -->

          <a (click)="addtocart(Sanpham)" href="gio-hang" type="submit" class="btn btn-lg fs-18 btn-secondary btn-block mb-4 bg-hover-primary border-0">Mua ngay
          </a>
        </form>
        <!-- <div class="d-flex align-items-center flex-wrap mt-5">
          <a href="#" class="text-decoration-none font-weight-bold fs-16 mr-6 d-flex align-items-center">
            <svg class="icon icon-arrows-left-right-light fs-20">
              <use xlink:href="#icon-arrows-left-right-light"></use>
            </svg>
            <span class="ml-2">So sánh với sản phẩm khác</span>
          </a>
          <a href="#" class="text-decoration-none font-weight-bold fs-16 d-flex align-items-center">
            <svg class="icon icon-heart-light fs-20">
              <use xlink:href="#icon-heart-light"></use>
            </svg>
            <span class="ml-2">Thêm vào Yêu thích</span>
          </a>
        </div> -->
        <ul class="list-unstyled border-top pt-5 mt-5">
          <li class="row mb-2">
            <span class="d-block col-4 text-secondary font-weight-600 fs-14">Mã Hàng</span>
            <span class="d-block col-8 ">{{Sanpham.SKU}}</span>
          </li>
          <li class="row mb-2">
            <span class="d-block col-4 text-secondary font-weight-600 fs-14">Loại Sản Phẩm:</span>
            <span class="d-block col-8 ">{{Sanpham.Danhmuc.Title}}</span>
          </li>
          <!-- <li class="row mb-2">
            <span class="d-block col-4 text-secondary font-weight-600 fs-14">Chia sẻ ngay:</span>
            <ul class="list-inline d-flex align-items-center mb-0 col-8">
              <li class="list-inline-item mr-4">
                <a href="#" class="fs-14 lh-1 text-body hover-secondary">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mr-4">
                <a href="#" class="fs-14 lh-1 text-body hover-secondary">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item mr-4">
                <a href="#" class="fs-14 lh-1 text-body hover-secondary">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="fs-14 lh-1 text-body hover-secondary">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="pt-10 pt-lg-12 pb-10 pb-md-6 pb-lg-11 border-top">
  <div class="container">
    <div class="collapse-tabs">
      <ul class="nav nav-pills mb-5 justify-content-center d-md-flex d-none" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show fs-lg-34 fs-24 lh-129 font-weight-600 p-0 mr-md-10 mr-4" id="pills-detail-tab"
            data-toggle="pill" href="#pills-detail" role="tab" aria-controls="pills-detail" aria-selected="false">THÔNG
            TIN SẢN PHẨM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-lg-34 fs-24 lh-129 font-weight-600 p-0 mr-md-10 mr-4" id="pills-how-to-use-tab"
            data-toggle="pill" href="#pills-how-to-use" role="tab" aria-controls="pills-how-to-use"
            aria-selected="false">CÁCH SỬ DỤNG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-lg-34 fs-24 lh-129 font-weight-600 p-0" id="pills-ingredients-tab" data-toggle="pill"
            href="#pills-ingredients" role="tab" aria-controls="pills-ingredients" aria-selected="true">THÀNH PHẦN</a>
        </li>
      </ul>
      <div class="tab-content bg-white-md shadow-none py-md-5 p-0">
        <div id="collapse-tabs-accordion-01">
          <div class="tab-pane tab-pane-parent fade show active" id="pills-detail" role="tabpanel">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1" id="headingDetails-01">
                <h5 class="mb-0">
                  <button class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border text-primary"
                    data-toggle="false" data-target="#detail-collapse-01" aria-expanded="true"
                    aria-controls="detail-collapse-01">
                    Thông Tin Sản Phẩm
                  </button>
                </h5>
              </div>
              <div id="detail-collapse-01" class="collapsible collapse show" aria-labelledby="headingDetails-01"
                data-parent="#collapse-tabs-accordion-01">
                <div id="accordion-style-01" class="accordion accordion-01 border-md-0 border p-md-0 p-6">
                  <div class="row">
                    <div class="col-lg-6 mb-lg-0 mb-7">
                      <div class="hover-shine pr-xl-13">
                        <img (click)="open(Sanpham,'hinhchinh')" src="{{GetImage(Sanpham.Hinhanh.hinhchinh.spath)}}" alt="">
                      </div>
                    </div>
                    <div class="col-lg-6 text-justify">
                        <div [innerHTML]="Sanpham.Noidung.Thongtin"></div>
                      <!-- <div class="row">
                        <div class="col-6 col-md-3 text-center mb-6">
                          <img src="assets/images/single-product-01.jpg" alt="">
                        </div>
                        <div class="col-6 col-md-3 text-center mb-6">
                          <img src="assets/images/single-product-02.jpg" alt="">
                        </div>
                        <div class="col-6 col-md-3 text-center mb-6">
                          <img src="assets/images/single-product-03.jpg" alt="">
                        </div>
                        <div class="col-6 col-md-3 text-center mb-6">
                          <img src="assets/images/single-product-04.jpg" alt="">
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-pane-parent fade" id="pills-how-to-use" role="tabpanel">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1" id="headinghow-to-use-01">
                <h5 class="mb-0">
                  <button
                    class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border collapsed text-primary"
                    data-toggle="collapse" data-target="#how-to-use-collapse-01" aria-expanded="false"
                    aria-controls="how-to-use-collapse-01">
                    Cách sử dụng
                  </button>
                </h5>
              </div>
              <div id="how-to-use-collapse-01" class="collapsible collapse" aria-labelledby="headinghow-to-use-01"
                data-parent="#collapse-tabs-accordion-01">
                <div id="accordion-style-01-2" class="accordion accordion-01 border-md-0 border p-md-0 p-6 ">
                  <div [innerHTML]="Sanpham.Noidung.Sudung"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane tab-pane-parent fade" id="pills-ingredients" role="tabpanel">
            <div class="card border-0 bg-transparent">
              <div class="card-header border-0 d-block d-md-none bg-transparent px-0 py-1" id="headingingredients-01">
                <h5 class="mb-0">
                  <button
                    class="btn lh-2 fs-18 py-1 px-6 shadow-none w-100 collapse-parent border collapsed text-primary"
                    data-toggle="collapse" data-target="#ingredients-collapse-01" aria-expanded="false"
                    aria-controls="ingredients-collapse-01">
                    Thành Phần
                  </button>
                </h5>
              </div>
              <div id="ingredients-collapse-01" class="collapsible collapse" aria-labelledby="headingingredients-01"
                data-parent="#collapse-tabs-accordion-01">
                <div id="accordion-style-01-3" class="accordion accordion-01 border-md-0 border p-md-0 p-6">
                  <div [innerHTML]="Sanpham.Noidung.Thanhphan"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-10 pt-lg-13 pb-9 pb-lg-11 border-top">
  <div class="container">
    <h3 class="text-center fs-34 mb-8">CÓ THỂ BẠN QUAN TÂM</h3>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
    (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem class="col-lg-3 col-sm-6 mb-5 slide"
      *ngFor="let item of SPTuongtu">
      <a class="card border-0 product" [routerLink]="['/san-pham/'+item.Slug]">
        <div class="position-relative">
          <img src="{{GetImage(item.Hinhanh.hinhthongtin.spath)}}">
        </div>
        <div class="card-body px-0 pt-4 text-center">
          <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
            <span class="fs-13 font-weight-500 text text-decoration-line-through text-body pr-1"
              *ngIf="item.GiaSale!=item.Gia">{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
            <span>{{(item.GiaSale | number:'1.0-0')||'0'}}đ</span>
          </p>
          <h2 class="card-title fs-15 font-weight-500 mb-2 tieude"><span>{{item.Tieude}}</span>
          </h2>
        </div>
      </a>
    </div>
  </ngx-slick-carousel>     
  </div>
</section>
