<mat-drawer-container class="example-container w-full h-full" autosize>
    <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3"
        position="end">
        <div class="relative flex flex-col h-full w-full overflow-auto">
          <div class="absolute top-0 z-10">
              <span class="material-icons p-3 hover:bg-gray-200 rounded-full" (click)="drawer.close()">
                cancel
              </span>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer>
    <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative bg-white !h-[90vh]">
        <div class="relative border-b-2 flex flex-col">
          <div class="flex flex-col p-3 items-center justify-between w-full">
              <mat-form-field appearance="outline" class="w-full text-xs">
                  <mat-label>Tiêu Đề</mat-label>
                  <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
                  <span matPrefix class="material-icons mr-2">search</span>
              </mat-form-field>
              <div class="flex flex-row space-x-3 justify-start w-full">
                    <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                        <span class="material-icons text-xl"
                            matTooltip="Tùy Chỉnh">tune</span>
                        <span class="text-sm">Cấu Hình</span>
                    </div>
                    <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                        <span class="material-icons text-xl"
                            matTooltip="Lấy Mẫu">file_download</span>
                        <span class="text-sm">Download</span>
                    </div>
                    <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                        <span class="material-icons text-xl"
                            matTooltip="Upload File">file_upload</span>
                        <span class="text-sm">Upload</span>
                    </div>
                    <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg" (click)="openDialog(dialogTemplate)">
                        <span class="material-icons text-xl"
                            matTooltip="Tạo mới">add_circle</span>
                        <span class="text-sm">Thêm</span>
                    </div>
              </div>
          </div>
        </div>
        <div class="relative flex flex-col h-full w-full overflow-auto">
            <div class="flex flex-col">
                <div [routerLink]="[item.id]" routerLinkActive="router-link-active" (click)="drawer.open()"
                    class="flex flex-row justify-between items-center p-4 hover:bg-gray-200"
                    *ngFor="let item of FilterUsers; let i = index">
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <div class="flex flex-col space-y-2">
                            <span>{{item.Hoten}} </span>
                            <span class="text-xs italic">{{item.SDT}} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <ng-template #dialogTemplate>
    <div class="min-w-[672px]">
    <div mat-dialog-title>Thêm Mới</div>
    <div mat-dialog-content>
        <div class="flex flex-col w-full space-y-4 p-4">
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Tiêu Đề</mat-label>
            <input matInput [(ngModel)]="Sitemap.Tieude" [ngModelOptions]="{standalone: true}" placeholder="Tiêu Đề">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Loc</mat-label>
            <input matInput [(ngModel)]="Sitemap.loc" [ngModelOptions]="{standalone: true}" placeholder="LOC">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Mota</mat-label>
            <input matInput [(ngModel)]="Sitemap.Mota" [ngModelOptions]="{standalone: true}" placeholder="Mô Tả">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>Slug</mat-label>
            <input matInput [(ngModel)]="Sitemap.Slug" [ngModelOptions]="{standalone: true}" placeholder="Slug">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
            <mat-label>priority</mat-label>
            <input matInput [(ngModel)]="Sitemap.priority" [ngModelOptions]="{standalone: true}" placeholder="priority">
            </mat-form-field>
            </div>
    </div>
    <div mat-dialog-actions class="justify-center">
        <button mat-button class="bg-red-400 hover:bg-red-600 text-white" mat-dialog-close="false">Huỷ</button>
        <button mat-button class="bg-blue-400 hover:bg-blue-600 text-white" mat-dialog-close="true">Đồng Ý</button>
    </div>
  </div>
  </ng-template>