<section class="pb-11 pb-lg-13" data-animated-id="1">
  <div class="container">
    <h2 class="text-center mt-9 mb-8">Giỏ Hàng</h2>
    <form novalidate="" class="table-responsive-md pb-8 pb-lg-10 ng-untouched ng-pristine ng-valid">
      <table class="table border">
        <thead style="background-color: #f5f5f5">
          <tr class="fs-15 letter-spacing-01 font-weight-600 text-uppercase text-secondary">
            <th scope="col" class="border-1x pl-7">
              Sản Phẩm
            </th>
            <th scope="col" class="border-1x">
              Số Lượng
            </th>
            <th colspan="2" class="border-1x">
              Giá
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="position-relative" *ngFor="let item of cartItems">
            <th scope="row" class="w-xl-695 pl-xl-5 py-4">
              <div class="media align-items-center">
                <div class="ml-3 mr-4">
                  <img class="mw-75px" [src]="item.Hinhanh" />
                </div>
                <div class="media-body w-128px">
                  <p class="font-weight-500 mb-1 text-secondary">{{item.Tieude}}</p>
                  <p class="card-text font-weight-bold fs-14 mb-1 text-secondary">
                  <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">{{(item.Gia| number:'1.0-0')||'0'}}đ</span><span>{{(item.GiaSale| number:'1.0-0')||'0'}}đ</span>
                  </p>
                </div>
              </div>
            </th>
            <td class="align-middle">
              <div class="input-group  position-relative w-128px">
                <span (click)="decrementQuantity(item)" class="down position-absolute pos-fixed-left-center pl-2 z-index-2"><i class="far fa-minus"></i></span>
                <input type="number"  [ngModelOptions]="{standalone: true}" class="form-control form-control-sm px-6 fs-16 text-center input-quality border-0 h-35px" (keydown)="onKeyDown($event)" (change)="UpadateQuantity(item,item.soluong)" [(ngModel)]="item.soluong" [value]="item.soluong"/>
                <span (click)="incrementQuantity(item)" class="up position-absolute pos-fixed-right-center pr-2 z-index-2"><i class="far fa-plus"></i>
                </span>
              </div>
            </td>
            <td class="align-middle">
              <p class="mb-0 text-secondary font-weight-bold mr-xl-11">
                {{(item.GiaSale*item.soluong| number:'1.0-0')||'0'}}đ
              </p>
            </td>
            <td class="align-middle text-right pr-5" (click)="removeFromCart(item.id)">
              <span class="d-block"><i class="fal fa-times text-body"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
    <div class="row">
      <div class="col-lg-6 pt-2">
        <h4 class="fs-24 mb-3">Phiếu giảm giá</h4>
        <p>Nhập mã phiếu giảm giá nếu bạn có.</p>
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
          <input type="text" placeholder="Enter coupon code here" class="border-0 form-control mb-4" /><button
            type="submit" class="btn btn-secondary bg-hover-primary border-hover-primary">
            Phiếu giảm giá
          </button>
        </form>
      </div>
      <div class="col-lg-6 pt-lg-0 pt-11">
        <div class="card border-0" style="box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)">
          <div class="card-body px-6 pt-5">
            <div class="d-flex align-items-center mb-2">
              <span>Tổng:</span><span class="d-block ml-auto text-secondary font-weight-bold">{{ (total| number:'1.0-0')||'0'}}đ</span>
            </div>
            <div class="d-flex align-items-center">
              <span>Phí vận chuyển:</span><span class="d-block ml-auto text-secondary font-weight-bold">0</span>
            </div>
          </div>
          <div class="card-footer bg-transparent px-0 pb-4 mx-6">
            <div class="d-flex align-items-center font-weight-bold mb-3">
              <span class="text-secondary">Tổng Cộng:</span><span
                class="d-block ml-auto text-secondary fs-24 font-weight-bold">{{ (total| number:'1.0-0')||'0'}}đ</span>
            </div>
            <a [href]="'thanh-toan'"  class="btn btn-secondary btn-block bg-hover-primary border-hover-primary">
              Thanh Toán
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>