<section>
  <div class="container container-xl">
    <h2 class="text-center mt-9 mb-8">H.DERMA VÌ VẺ ĐẸP LÀ SỰ PHÙ HỢP</h2>
    <div class="d-flex justify-content-between align-items-center flex-wrap">
      <p class="fs-18 font-weight-500 my-lg-0 my-2" style="color: #696969;">Có <strong
          class="font-weight-bold text-secondary">{{Sanphams.length}}</strong>
        sản phẩm dành riêng cho bạn</p>
      <div class="d-flex align-items-center">
        <div class="switch-layout d-lg-flex align-items-center d-none">
          <span class="pr-5">Cách hiển thị</span>
          <a href="#" class="active pr-5" title="Grid View">
            <svg class="icon icon-squares-four fs-32 hover-secondary">
              <use xlink:href="#icon-squares-four"></use>
            </svg>
          </a>
          <a href="shop-page-05.html" title="List View">
            <svg class="icon icon-list fs-32 hover-secondary">
              <use xlink:href="#icon-list"></use>
            </svg>
          </a>
        </div>
        <div class="dropdown show lh-1 rounded ml-lg-5 ml-0" style="background-color:#f5f5f5">
          <a href="#"
            class="dropdown-toggle custom-dropdown-toggle text-decoration-none text-secondary p-3 mw-210 position-relative d-block"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Phân loại
          </a>
          <div class="dropdown-menu custom-dropdown-item" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Giá từ cao đến thấp</a>
            <a class="dropdown-item" href="#">Giá thấp đến cao</a>
            <a class="dropdown-item" href="#">Ngẫu nhiên</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mt-7 pb-11 pb-lg-13">
  <div class="container container-xl">
    <div class="row">
      <div class="col-lg-3 primary-sidebar sidebar-sticky pr-lg-8 d-lg-block d-none" id="sidebar">
        <div class="primary-sidebar-inner">
          <div class="card border-0 mb-6">
            <div class="card-header bg-transparent border-0 p-0">
              <h4 class="card-title fs-20 mb-3">BỘ LỌC TÌM KIẾM</h4>
            </div>
            <div class="card-body p-0">
              <ul class="list-unstyled mb-0">
                <li class="mb-2">
                  <a href="#"
                    class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">TÌNH
                    TRẠNG DA</a>
                  <ul class="list-unstyled ml-5 mt-2 mb-5">
                    <li class="my-2" *ngFor="let item of TagsTinhtrang;let i = index"
                      (click)="checkboxTags(item,i)">
                      <span class="text-body hover-secondary">
                        <span class="material-icons text-primary" *ngIf="item.checked">
                          done
                        </span>
                        {{item.Tieude}}</span>
                    </li>
                  </ul>
                </li>
                <li class="mb-2">
                  <a href="#"
                    class="text-uppercase fs-14 letter-spacing-005 font-weight-600 text-body hover-secondary text-decoration-none">LOẠI
                    SẢN PHẨM</a>
                  <ul class="list-unstyled ml-5 mt-2 mb-5">
                    <li class="my-2" *ngFor="let item of TagsLoai;let i = index"
                      (click)="checkTagsLoai(item,i);">
                      <span class="text-body hover-secondary">
                        <span class="material-icons  text-primary" *ngIf="item.checked">
                          done
                        </span>{{item.Tieude}}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let item of PagiSanphams">
            <a [routerLink]="[item.Slug]" class="card border-0 product mb-6">
              <div class="position-relative">
                <img *ngIf="item.Hinhanh.Image" src="{{(Base+item.Hinhanh.Image.spath)||''}}" alt="">
                <img src="https://drive.google.com/uc?id={{ item.Image }}" />
                <div class="card-img-overlay d-flex p-3 flex-column">
                  <div class="mb-auto d-flex justify-content-center">
                  </div>
                  <div class="text-center">
                    <a href="#" class="btn btn-secondary bg-hover-primary border-hover-primary lh-12"><span
                        class="material-icons">
                        shopping_cart
                      </span></a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center px-0">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1"></span>
                  <span>{{(item.Gia | number:'1.0-0')||'0'}}đ</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><span>{{item.Tieude}}</span></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i></li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i></li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i></li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i></li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span> -->
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [nextText]="'>>'"
            [previousText]="'<<'" [lastText]="''" [maxSize]="5" [(ngModel)]="currentPage" name="currentPage"
            (pageChanged)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"></pagination>
        </div>

        <!-- <nav class="pt-3">
            <ul class="pagination justify-content-center align-items-center mb-0 fs-16 font-weight-600">
              <li class="page-item fs-18 d-none d-sm-block">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#" tabindex="-1"><i class="far fa-angle-double-left"></i></a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">...</a>
              </li>
              <li class="page-item">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#">16</a>
              </li>
              <li class="page-item fs-18 d-none d-sm-block">
                <a class="page-link rounded-circle w-40px h-40 p-0 justify-content-center align-items-center d-flex" href="#"><i class="far fa-angle-double-right"></i></a>
              </li>
            </ul>
          </nav> -->
      </div>
    </div>
  </div>
</section>