<section class="py-11 pb-lg-13">
  <div class="container">
    <section class="pb-3">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="mb-2 fs-34 text-center">
            {{Baiviet.Title}}
          </h2>
          <ul class="list-inline lh-1 d-flex align-items-center justify-content-center mb-8 flex-wrap">
            <li class="list-inline-item pr-3">{{Baiviet.CreateAt|date:'dd/MM/yyyy'}}</li>
            <li class="list-inline-item pr-1"><span class="rounded-circle d-block"
                style="width: 4px; height: 4px;background-color: #C4C4C4"></span>
            </li>
            <li class="list-inline-item pr-1">134 views</li>
          </ul>
          <div class="text-justify" [innerHTML]="Baiviet.Baiviet"></div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="row no-gutters mt-6 pb-2 border-bottom">
            <div class="col-sm-6 mb-4 mb-sm-0">
            </div>
            <div class="col-sm-6 d-flex justify-content-sm-end">
              <label class="text-secondary font-weight-600 mr-4 mb-0">Chia Sẽ : </label>
              <ul class="list-inline mb-0 lh-1">
                <li class="list-inline-item mr-4"><a href="https://www.tiktok.com/@h.dermavietnam"
                    class="fs-18 lh-14 font-weight-normal"><svg _ngcontent-ng-c2840633094=""
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height: 20px;">
                      <path _ngcontent-ng-c2840633094=""
                        d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
                      </path>
                    </svg></a>
                </li>
                <li class="list-inline-item mr-4"><a href="https://www.facebook.com/hdermavietnam"
                    class="fs-18 lh-14 font-weight-normal"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="list-inline-item mr-4"><a href="https://www.instagram.com/hdermavietnam/"
                    class="fs-18 lh-14 font-weight-normal"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="mb-7 mt-4 fs-34 text-center">
            BÀI VIẾT LIÊN QUAN
          </h2>
     <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let item of Bailienquan" class="slide">
              <div class="card border-0">
                <a [routerLink]="[item.Slug]" class="hover-shine card-img-top">
                  <ng-container *ngIf="Checkundefined(item.Hinhanh.hinhchinh); else elseTemplate1">
                    <img src="{{Base+item.Hinhanh.hinhchinh.spath}}" />
                  </ng-container>
                  <ng-template #elseTemplate1>
                    <img src="https://hderma.vn/assets/image/logo.svg" />
                  </ng-template>
                </a>
                <div class="card-body px-0 pt-3 pb-0">
                  <h3 class="card-title mb-0 fs-16 font-weight-600 lh-16 mt-2">
                    <a [routerLink]="[item.Slug]">{{item.Title}}</a>
                  </h3>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>

        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="mb-1 fs-34 text-center mb-7">ĐỂ LẠI LỜI NHẮN</h2>
          <form>
            <div class="row">
              <div class="col-sm-6 mb-6">
                <input type="text" class="form-control border-0" placeholder="Tên" required>
              </div>
              <div class="col-sm-6 mb-6">
                <input type="email" class="form-control border-0" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group mb-6">
              <textarea class="form-control border-0" placeholder="Lời Nhắn" rows="6"></textarea>
            </div>
            <div class="custom-control custom-checkbox mb-7">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label text-body" for="customCheck1">Lưu tên, email của tôi cho lần nhận xét
                tiếp theo</label>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-secondary bg-hover-primary border-hover-primary px-7">
                Gửi Tin Nhắn
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</section>