  <section class="py-11 pb-lg-13">
    <div class="container">
      <section class="pb-3">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="text-center mb-3">
              <a href="#" class="badge text-secondary bg-gray-2  fs-15 py-1 lh-12 px-3 font-weight-500">
                {{Baiviet.tag||'No Tag'}}
              </a>
            </div>
            <h2 class="mb-2 fs-34 text-center">
              {{Baiviet.Title}}
            </h2>
            <ul class="list-inline lh-1 d-flex align-items-center justify-content-center mb-8 flex-wrap">
              <li class="list-inline-item pr-3">
                <span class="material-icons">account_circle</span>
              </li>
              <li class="list-inline-item pr-3 border-right border-2x">Tạo Bởi 
                <a class="text-decoration-none" href="#">Admin</a></li>
              <li class="list-inline-item pr-3">{{Baiviet.CreateAt|date:'dd/MM/yyyy'}}</li>
              <li class="list-inline-item pr-1"><span class="rounded-circle d-block"
                                                style="width: 4px; height: 4px;background-color: #C4C4C4"></span>
              </li>
              <li class="list-inline-item pr-1">134 views</li>
            </ul>

            <!-- <p class="fs-18 text-secondary">We do good to the planet while delivering smiles to your loved ones.
              We believe even the smallest choices
              we make can have a significant impact over time. That’s why it’s our goal to make eco-friendly
              alternatives more accessible than ever.</p>
            <p>Awkwardness gives me great comfort. I’ve never been cool, but I’ve felt cool. I’ve been in the
              cool
              place, but I wasn’t really cool – I was trying to pass for hip or cool. It’s the awkwardness
              that’s
              nice. We look our best in subdued colors, sophisticated cuts, and a general air of sleek
              understatement.
              I like the body. I like to design everything to do with the body.</p> -->
              <div [innerHTML]="Baiviet.Baiviet"></div>
          </div>
        </div>
      </section>
      <!-- <section class="mt-4 mb-9">
        <img src="assets/images/blog-detail-10.jpg" alt="blog detail 10">
      </section>
      <section>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <p class="mb-5">
              If I fell in love with a woman for an artistic reason, or from the point of view of my work, I
              think it would rob her of something. We live in an era of globalization and the era of the
              woman. Never in the history of the world have women <span class="text-secondary">been more in control of their destiny.</span>
            </p>
            <h4 class="fs-18 font-weight-500 mb-3">Your imagination, our creation</h4>
            <p class="mb-8">
              Complexion-perfecting natural foundation enriched with antioxidant-packed superfruits, vitamins,
              and other skin-nourishing nutrients. Creamy liquid formula sets with a pristine matte finish for
              soft, velvety smooth skin. Made using clean, non-toxic ingredients, our products are designed
              for everyone...
            </p>
          </div>
        </div>
      </section> -->
      <!-- <section class="mt-2">
        <h4 class="text-center fs-34 mb-8">Shop the story</h4>
        <div class="slick-slider mx-n2"
       data-slick-options='{"slidesToShow": 4,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1368,"settings": {"arrows":false,"dots":true}},{"breakpoint": 1200,"settings": {"slidesToShow":3,"arrows":false,"dots":true}},{"breakpoint": 992,"settings": {"slidesToShow":2,"arrows":false,"dots":true}},{"breakpoint": 768,"settings": {"slidesToShow": 2,"arrows":false,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"arrows":false,"dots":true}}]}'>
          <div class="box">
            <div class="card border-0 product">
              <div class="position-relative">
                <img src="assets/images/product-03.jpg" alt="Facial cleanser">
                <div class="card-img-overlay d-flex p-3">
                  <div>
                  </div>
                  <div class="my-auto w-100 content-change-vertical">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                 class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-shopping-bag-open-light fs-24">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                 class="preview ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-eye-light fs-24">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                 class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-star-light fs-24">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                 class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                      <svg class="icon icon-arrows-left-right-light fs-24">
                        <use xlink:href="#icon-arrows-left-right-light"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
                  <span>$29.00</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><a
              href="product-page-01.html">Facial cleanser</a></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                  </ul>
                  <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="card border-0 product">
              <div class="position-relative">
                <img src="assets/images/product-04.jpg" alt="Bio-shroom Rejuvenating Serum">
                <div class="card-img-overlay d-flex p-3">
                  <div>
                  </div>
                  <div class="my-auto w-100 content-change-vertical">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                 class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-shopping-bag-open-light fs-24">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                 class="preview ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-eye-light fs-24">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                 class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-star-light fs-24">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                 class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                      <svg class="icon icon-arrows-left-right-light fs-24">
                        <use xlink:href="#icon-arrows-left-right-light"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span>$29.00</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><a
              href="product-page-01.html">Bio-shroom Rejuvenating Serum</a></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                  </ul>
                  <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="card border-0 product">
              <div class="position-relative">
                <img src="assets/images/product-09.jpg" alt="Coffee Bean Caffeine Eye Cream">
                <div class="card-img-overlay d-flex p-3">
                  <div>
                    <span class="badge badge-warning">New</span>
                  </div>
                  <div class="my-auto w-100 content-change-vertical">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                 class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-shopping-bag-open-light fs-24">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                 class="preview ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-eye-light fs-24">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                 class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-star-light fs-24">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                 class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                      <svg class="icon icon-arrows-left-right-light fs-24">
                        <use xlink:href="#icon-arrows-left-right-light"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span>$29.00</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><a
              href="product-page-01.html">Coffee Bean Caffeine Eye Cream</a></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                  </ul>
                  <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="card border-0 product">
              <div class="position-relative">
                <img src="assets/images/product-08.jpg" alt="Coffee Bean Caffeine Eye Cream">
                <div class="card-img-overlay d-flex p-3">
                  <div>
                    <span class="badge badge-primary">-20%</span>
                  </div>
                  <div class="my-auto w-100 content-change-vertical">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                 class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-shopping-bag-open-light fs-24">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                 class="preview ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-eye-light fs-24">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                 class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-star-light fs-24">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                 class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                      <svg class="icon icon-arrows-left-right-light fs-24">
                        <use xlink:href="#icon-arrows-left-right-light"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span class="fs-13 font-weight-500 text-decoration-through text-body pr-1">$39.00</span>
                  <span>$29.00</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><a
              href="product-page-01.html">Coffee Bean Caffeine Eye Cream</a></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                  </ul>
                  <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span>
                </div>
              </div>
            </div>
          </div>
          <div class="box">
            <div class="card border-0 product">
              <div class="position-relative">
                <img src="assets/images/product-05.jpg" alt="Facial cleanser">
                <div class="card-img-overlay d-flex p-3">
                  <div>
                    <span class="badge badge-warning">New</span>
                  </div>
                  <div class="my-auto w-100 content-change-vertical">
                    <a href="#" data-toggle="tooltip" data-placement="left" title="View products"
                 class="add-to-cart ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-shopping-bag-open-light fs-24">
                        <use xlink:href="#icon-shopping-bag-open-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Quick view"
                 class="preview ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-eye-light fs-24">
                        <use xlink:href="#icon-eye-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"
                 class="add-to-wishlist ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle mb-2">
                      <svg class="icon icon-star-light fs-24">
                        <use xlink:href="#icon-star-light"></use>
                      </svg>
                    </a>
                    <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"
                 class="add-to-compare ml-auto d-flex align-items-center justify-content-center text-secondary bg-white hover-white bg-hover-secondary w-48px h-48px rounded-circle">
                      <svg class="icon icon-arrows-left-right-light fs-24">
                        <use xlink:href="#icon-arrows-left-right-light"></use>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-4 text-center">
                <p class="card-text font-weight-bold fs-16 mb-1 text-secondary">
                  <span>$29.00</span>
                </p>
                <h2 class="card-title fs-15 font-weight-500 mb-2"><a
              href="product-page-01.html">Facial cleanser</a></h2>
                <div class="d-flex align-items-center justify-content-center flex-wrap">
                  <ul class="list-inline mb-0 lh-1">
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                    <li class="list-inline-item fs-12 text-primary mr-0"><i class="fas fa-star"></i>
                    </li>
                  </ul>
                  <span class="card-text fs-14 font-weight-400 pl-2 lh-1">2947 reviews</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-secondary bg-hover-primary border-hover-primary mt-lg-6 mt-8">Shop all products</a>
        </div>
      </section> -->
      <section>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="row no-gutters mt-6 pb-2 border-bottom">
              <div class="col-sm-6 mb-4 mb-sm-0">
              </div>
              <div class="col-sm-6 d-flex justify-content-sm-end">
                <label class="text-secondary font-weight-600 mr-4 mb-0">Share:</label>
                <ul class="list-inline mb-0 lh-1">
                  <li class="list-inline-item mr-4"><a href="#" class="fs-18 lh-14 font-weight-normal"><i
                class="fab fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item mr-4"><a href="#" class="fs-18 lh-14 font-weight-normal"><i
                class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item mr-4"><a href="#" class="fs-18 lh-14 font-weight-normal"><i
                class="fab fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item"><a href="#" class="fs-18 lh-14 font-weight-normal"><i
                class="fab fa-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="mb-7 mt-4 fs-34 text-center">
              BÀI VIẾT LIÊN QUAN
            </h2>
            <div class="slick-slider pb-11 border-bottom row"
           data-slick-options='{"slidesToShow": 3,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 768,"settings": {"slidesToShow": 2,"dots":true}},{"breakpoint": 576,"settings": {"slidesToShow": 1,"dots":true}}]}'>
              <div class="box col-4" *ngFor="let item of Bailienquan">
                <div class="card border-0">
                  <a [routerLink]="[item.Slug]" 
               class="hover-shine card-img-top">
               <img src="https://drive.google.com/uc?id={{ item.Image }}" />
                  </a>
                  <div class="card-body px-0 pt-3 pb-0">
                    <h3 class="card-title mb-0 fs-16 font-weight-600 lh-16 mt-2">
                      <a [routerLink]="[item.Slug]" >{{item.Title}}</a>
                    </h3>
                  </div>
                </div>
              </div>
              <!-- <div class="box">
                <div class="card border-0">
                  <a href="blog-detail-01.html"
               class="hover-shine card-img-top">
                    <img src="assets/images/blog-detail-04.jpg"
                   alt="How to Plop Hair for Bouncy, Beautiful Curls">
                  </a>
                  <div class="card-body px-0 pt-3 pb-0">
                    <a href="#"
                 class="card-text text-uppercase font-weight-600 letter-spacing-01 fs-13 text-body">
                      Videos
                    </a>
                    <h3 class="card-title mb-0 fs-16 font-weight-600 lh-16 mt-2">
                      <a href="blog-detail-01.html">How to Plop Hair for Bouncy, Beautiful Curls</a>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="box">
                <div class="card border-0">
                  <a href="blog-detail-01.html"
               class="hover-shine card-img-top">
                    <img src="assets/images/blog-detail-07.jpg"
                   alt="Are You Washing Your Face Properly?">
                  </a>
                  <div class="card-body px-0 pt-3 pb-0">
                    <a href="#"
                 class="card-text text-uppercase font-weight-600 letter-spacing-01 fs-13 text-body">
                      Videos
                    </a>
                    <h3 class="card-title mb-0 fs-16 font-weight-600 lh-16 mt-2">
                      <a href="blog-detail-01.html">Are You Washing Your Face Properly?</a>
                    </h3>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <section class="pt-10 pb-7">
        <!-- <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="mb-8 fs-34 text-center">
              BÌNH LUẬN
            </h2>
            <ol class="list-unstyled">
              <li class="pb-6 mb-6 border-bottom">
                <div class="media ">
                  <div class="w-60px d-block mr-6">
                    <img src="assets/images/blog-detail-06.png"
                   alt="Elizabeth">
                  </div>
                  <div class="media-body">
                    <p class="d-flex mb-1 align-items-center">
                      <span class="font-weight-600 fs-14 letter-spacing-01 text-secondary text-uppercase">Elizabeth</span>
                    </p>
                    <p class="mb-3">This skin care gift set is made with potent vitamins, stimulating caffeine, and natural acids. It’s designed to rejuvenate your complexion without the use of harsh chemicals or bleaching agents.</p>
                    <span class="fs-15 text-muted pr-2 lh-1">02 Dec, 2020 at 2:29 PM</span><a href="#"
                                                                                 class="pl-2  border-left text-secondary font-weight-600">Reply</a>
                  </div>
                </div>
                <div class="mt-6 mb-2">
                  <ol class="list-unstyled ml-sm-12 pl-4 border-sm-left">
                    <li class="media mt-7">
                      <div class="w-60px d-block mr-6">
                        <img src="assets/images/blog-detail-07.png"
                       alt="admin">
                      </div>
                      <div class="media-body">
                        <p class="d-flex mb-1 align-items-center">
                          <span class="font-weight-600 fs-14 letter-spacing-01 text-secondary text-uppercase">admin</span>
                        </p>
                        <p class="mb-3">Vitamin C promotes healthy collagen levels, while 3 types of caffeine awaken and rejuvenate the skin and eyes.</p>
                        <span class="fs-15 text-muted pr-2 lh-1">02 Dec, 2020 at 2:29 PM</span><a
                    href="#"
                    class="pl-2  border-left text-secondary font-weight-600">Reply</a>
                      </div>
                    </li>
                  </ol>
                </div>
                <div class="mt-6 mb-2">
                  <ol class="list-unstyled ml-sm-12 pl-4 border-sm-left">
                    <li class="media ">
                      <div class="w-60px d-block mr-6">
                        <img src="assets/images/blog-detail-08.png"
                       alt="Lucille D">
                      </div>
                      <div class="media-body">
                        <p class="d-flex mb-1 align-items-center">
                          <span class="font-weight-600 fs-14 letter-spacing-01 text-secondary text-uppercase">Lucille D</span>
                        </p>
                        <p class="mb-3">Vitamin C promotes healthy collagen levels, while 3 types of caffeine awaken and rejuvenate the skin and eyes.</p>
                        <span class="fs-15 text-muted pr-2 lh-1">02 Dec, 2020 at 2:29 PM</span><a
                    href="#"
                    class="pl-2  border-left text-secondary font-weight-600">Reply</a>
                      </div>
                    </li>
                  </ol>
                </div>
              </li>
            </ol>
            <ol class="list-unstyled">
              <li class="pb-6 mb-6 border-bottom">
                <div class="media ">
                  <div class="w-60px d-block mr-6">
                    <img src="assets/images/blog-detail-10.png"
                   alt="Lucille D">
                  </div>
                  <div class="media-body">
                    <p class="d-flex mb-1 align-items-center">
                      <span class="font-weight-600 fs-14 letter-spacing-01 text-secondary text-uppercase">Lucille D</span>
                    </p>
                    <p class="mb-3">We may not be doing the whole ‘get up and go’ thing like we used to, especially if the only place we’re going is our couch. But to get up and glow?</p>
                    <span class="fs-15 text-muted pr-2 lh-1">02 Dec, 2020 at 2:29 PM</span><a href="#"
                                                                                 class="pl-2  border-left text-secondary font-weight-600">Reply</a>
                  </div>
                </div>
              </li>
            </ol>
            <ol class="list-unstyled">
              <li class="pb-6 mb-6 border-bottom">
                <div class="media ">
                  <div class="w-60px d-block mr-6">
                    <img src="assets/images/blog-detail-09.png"
                   alt="Jennifer. c">
                  </div>
                  <div class="media-body">
                    <p class="d-flex mb-1 align-items-center">
                      <span class="font-weight-600 fs-14 letter-spacing-01 text-secondary text-uppercase">Jennifer. c</span>
                    </p>
                    <p class="mb-3">This skin care gift set is made with potent vitamins, stimulating caffeine, and natural acids. It’s designed to rejuvenate your complexion without the use of harsh chemicals or bleaching agents.</p>
                    <span class="fs-15 text-muted pr-2 lh-1">02 Dec, 2020 at 2:29 PM</span><a href="#"
                                                                                 class="pl-2  border-left text-secondary font-weight-600">Reply</a>
                  </div>
                </div>
              </li>
            </ol>
          </div>
        </div> -->
      </section>
      <section>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="mb-1 fs-34 text-center mb-7">ĐỂ LẠI LỜI NHẮN</h2>
            <form>
              <div class="row">
                <div class="col-sm-6 mb-6">
                  <input type="text" class="form-control border-0" placeholder="Tên" required>
                </div>
                <div class="col-sm-6 mb-6">
                  <input type="email" class="form-control border-0" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group mb-6">
                <textarea class="form-control border-0" placeholder="Lời Nhắn" rows="6"></textarea>
              </div>
              <div class="custom-control custom-checkbox mb-7">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label text-body" for="customCheck1">Lưu tên, email của tôi cho lần nhận xét tiếp theo</label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-secondary bg-hover-primary border-hover-primary px-7">
                  Gửi Tin Nhắn
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </section>