  <div class="dashboard-page-content">
    <div class="row mb-6 align-items-center">
      <div class="col-sm-9 mb-3 mb-sm-0">
        <h2 class="fs-24 mb-0">Đơn Hàng</h2>
      </div>
    </div>
    <div class="card mb-4 rounded-xl form-control-01">
      <div class="card-header bg-transparent p-4">
        <div class="row align-items-center">
          <div class="col-md-4 col-12 mr-auto mb-md-0 mb-3">
            <input type="text" placeholder="Tìm Kiếm" class="form-control bg-input border-0">
          </div>
          <div class="col-md-2 col-6">
            <select class="form-control" [(ngModel)]="selectedOption" (ngModelChange)="onSelectionChange($event)">
              <option *ngFor="let option of TTDonhang" [value]="option.id">{{ option.Tieude }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-body p-4">
        <div class="table-responsive">
          <table class="table table-hover align-middle table-nowrap mb-0 table-borderless">
            <thead class="table-light">
              <tr>
                <th>Mã Đơn Hàng</th>
                <th scope="col">Họ Tên</th>
                <th scope="col">Email</th>
                <th scope="col" class="text-right">Tổng</th>
                <th scope="col">Trạng Thái</th>
                <th scope="col">Ngày Tạo</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="FDonhangs.length>0; else elseTemplate">
                <tr *ngFor="let item of FDonhangs; let i = index" [routerLink]="item.id">
                  <td>{{item.MaDonHang}}</td>
                  <td>{{item.Hoten}}</td>
                  <td>{{item.Email}}</td>
                  <td class="text-right">{{(item.Tong| number:'1.0-0')||'0'}}đ</td>
                  <td><span class="badge rounded-pill {{Findbyid(item.Trangthai, TTDonhang,'style')}} text-capitalize fs-12"> {{Findbyid(item.Trangthai, TTDonhang,'Tieude')}}</span></td>
                  <td>{{item.Ngaytao|date:'dd/MM/yyyy'}}</td>
                </tr>      
              </ng-container>
              <ng-template #elseTemplate>
                <tr>
                  <td colspan="6">Không Tìm Thấy Đơn Hàng</td>
                </tr>  
              </ng-template>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example" class="mt-5 mb-4">
      <ul class="pagination justify-content-start">
        <li class="page-item active mx-1"><a class="page-link" href="#">01</a></li>
        <li class="page-item mx-1"><a class="page-link" href="#">02</a></li>
        <li class="page-item mx-1"><a class="page-link" href="#">03</a></li>
        <li class="page-item mx-1"><a class="page-link dot" href="#">...</a></li>
        <li class="page-item mx-1"><a class="page-link" href="#">16</a></li>
        <li class="page-item mx-1">
          <a class="page-link" href="#"><i class="far fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>