  <footer class="pt-10 pt-lg-13 pb-8 footer bg-cover" style="background-color: #f8f8f8;">
    <div class="container container-xl footer">
      <div class="row">
        <div class="col-lg-5 col-12 mb-8 mb-lg-0">
          <div class="mx-auto flex-shrink-0 px-10 py-2 my-1">
            <p><a href="/"><img
                  src="assets/images/logo.svg" alt="Glowing" style="width: 300px;"></a></p>
          </div>
          <p class="mr-xl-17 mb-6 mb-lg-7">Vẻ đẹp cốt lõi bắt nguồn từ sự phù hợp và hài
            hòa. H.Derma luôn đồng hành cùng bạn trên con đường khai phá vẻ đẹp.</p>
          <form novalidate="" class="pr-xl-15 ng-untouched ng-pristine ng-valid">
            <div class="input-group position-relative"><input
                type="email" placeholder="Enter your email address"
                class="form-control bg-white rounded border-0 pr-10"><button type="submit"
                class="btn fs-29 text-secondary position-absolute pos-fixed-right-center px-4 py-0 h-100 lh-1 z-index-10"><svg
                  class="icon icon-long-arrow-right">
                  <use xlink:href="#icon-long-arrow-right"></use>
                </svg></button></div>
          </form>
          <div class="my-2">© H.Derma 2023</div>
        </div>
        <div class="col-lg col-md-4 col-12 mb-7 mb-md-8 mb-lg-0">
          <h2 class="fs-20 mb-3">Công ty TNHH Dược Mỹ Phẩm H.Derma</h2>
          <p class="fs-14 lh-185 pr-xl-12"> THỜI GIAN LÀM VIỆC: 8:00 - 21:00 <br
             >Thứ 2 - Chủ nhật</p>
          <p class="fs-14 lh-185 pr-xl-12">HOTLINE: 0167 4090 784</p>
          <p class="fs-14 lh-185 pr-xl-12">EMAIL: info@hderma.vn</p>
          <p class="fs-14 lh-185 mb-0"><strong
             >------------------------------------------------</strong></p>
          <p>Giấy CNĐKDN: 0314993856</p>
          <p>Ngày cấp: 17/04/2018</p>
          <p>Đ/C ĐKKD: 53/3 Thiên Hộ Dương, Phường 1, Quận Gò
            Vấp, Tp.HCM.</p>
          <p class="fs-14 lh-185 mb-0">&nbsp;</p>
        </div>
        <div class="col-lg col-md-4 col-12 mb-7 mb-md-8 mb-lg-0">
          <h3 class="fs-20 mb-3">Theo dõi chúng tôi tại:</h3>
          <ul class="list-inline fs-20 mb-0">
            <li class="list-inline-item mr-5"><a
                href="https://www.facebook.com/hdermavietnam"><i
                  class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item mr-5"><a
                href="https://www.instagram.com/hdermavietnam"><i
                  class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a
                href="https://www.tiktok.com/@h.dermavietnam"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height: 20px;">
                  <path
                    d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
                  </path>
                </svg></a></li>
          </ul>
        </div>
      </div>
      <div
        class="d-none d-lg-flex flex-lg-row flex-column justify-content-center justify-content-center"><a
          href="bai-viet/dieu-kien-chung">ĐIỀU KIỆN CHUNG</a>
        <div class="px-2">|</div><a
          href="bai-viet/chinh-sach-thanh-toan" class="px-2">CHÍNH SÁCH THANH TOÁN</a>
        <div class="px-2">|</div><a
          href="bai-viet/chinh-sach-bao-mat" class="px-2">CHÍNH SÁCH BẢO MẬT</a>
        <div class="px-2">|</div><a
          href="bai-viet/chinh-sach-van-chuyen-giao-hang" class="px-2">CHÍNH SÁCH VẬN CHUYỂN GIAO HÀNG</a>
        <div class="px-2">|</div><a
          href="bai-viet/chinh-sach-giai-quyet-khieu-nai-va-doi-tra">CHÍNH SÁCH GIẢI QUYẾT KHIẾU NẠI ĐỔI TRẢ</a>
      </div>
      <div
        class="d-flex d-lg-none flex-lg-row flex-column justify-content-center justify-content-center"><a
          href="bai-viet/dieu-kien-chung">| ĐIỀU KIỆN CHUNG</a><a
          href="bai-viet/chinh-sach-thanh-toan">| CHÍNH SÁCH THANH TOÁN</a><a
          href="bai-viet/chinh-sach-bao-mat">| CHÍNH SÁCH BẢO MẬT</a><a
          href="bai-viet/chinh-sach-van-chuyen-giao-hang">| CHÍNH SÁCH VẬN CHUYỂN GIAO
          HÀNG</a><a href="bai-viet/chinh-sach-giai-quyet-khieu-nai-va-doi-tra">| CHÍNH
          SÁCH GIẢI QUYẾT KHIẾU NẠI ĐỔI TRẢ</a></div>
    </div>
  </footer>