<footer class="pt-10 pt-lg-13 pb-8 footer text-light bg-cover" style="background-image: url('assets/images/bg-footer-01.jpg')">
  <div class="container container-xl">
    <div class="row">
      <div class="col-lg-5 col-12 mb-8 mb-lg-0">
        <div class="mx-auto flex-shrink-0 px-10 py-6 my-1">

          <p><a href="index.html"><img src="assets/images/logo-white.svg" alt="Glowing" style="width: 300px"></a></p>

        </div>
        <p class="mr-xl-17 mb-6 mb-lg-7">Vẻ đẹp cốt lõi bắt nguồn từ sự phù hợp và hài hòa.
          H.Derma luôn đồng hành cùng bạn trên con đường khai phá vẻ đẹp.</p>
        <form class="pr-xl-15">
          <div class="input-group position-relative">
            <input type="email" class="form-control rounded border-0 pr-10" placeholder="Enter your email address">
            <button type="submit"
              class="btn fs-29 text-secondary position-absolute pos-fixed-right-center px-4 py-0 h-100 lh-1 z-index-10">
              <svg class="icon icon-long-arrow-right">
                <use xlink:href="#icon-long-arrow-right"></use>
              </svg>
            </button>
          </div>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p><span class="mb-0">© H.Derma 2023</span></p>
        </form>
      </div>
      <div class="col-lg col-md-4 col-12 mb-7 mb-md-8 mb-lg-0">
        <h2 class="fs-20 mb-3 text-light">Công ty TNHH Dược Mỹ Phẩm H.Derma</h2>
        <p class="fs-14 lh-185 pr-xl-12">
          THỜI GIAN LÀM VIỆC: 8AM - 21AM</p>
        <p class="fs-14 lh-185 pr-xl-12">HOTLINE: 0167 4090 784</p>
        <p class="fs-14 lh-185 pr-xl-12">EMAIL: info@hderma.vn<a class="text-light font-weight-600" href="#"><u>Our
              Stores</u></a>
        </p>
        <p class="fs-14 lh-185 mb-0"><strong>------------------------------------------------</strong></p>
        <p _ngcontent-serverapp-c210="">Giấy CNĐKDN: 0314993856</p>
        <p _ngcontent-serverapp-c210="">Ngày cấp: 17/04/2018</p>
        <p _ngcontent-serverapp-c210="">Cơ quan cấp:</p>
        <p _ngcontent-serverapp-c210="">Đ/C ĐKKD: 53/3 Thiên Hộ Dương, Phường 1, Quận Gò Vấp, Tp.HCM.</p>
        <p class="fs-14 lh-185 mb-0">&nbsp;</p>
      </div>
      <div class="col-lg col-md-4 col-12 mb-7 mb-md-8 mb-lg-0">
        <h3 class="fs-20 mb-3 text-light">Theo dõi chúng tôi tại:</h3>
        <ul class="list-inline fs-20 mb-0">
          <li class="list-inline-item mr-5">
            <a class="text-light" href="#"><i class="fab fa-pinterest-p"></i></a>
          </li>
          <li class="list-inline-item mr-5">
            <a class="text-light" href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="list-inline-item mr-5">
            <a class="text-light" href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="text-light" href="#"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-0 mt-lg-14 align-items-center"></div>
  </div>
</footer>