<!-- <mat-drawer-container class="example-container h-[100vh] w-full text-sm">
  <mat-drawer #drawer [mode]="drawerMode" [opened]="Opened">
   <div class="flex flex-col space-y-3 w-28 pt-4">
    <span class="p-4" routerLink="/admin/cauhinh">
      <img src="/assets/image/logo.svg" class="h-10"/>
    </span>

    <div class="p-2 hover:bg-blue-500 hover:text-white" [routerLink]="['hoahong']">Hoa Hồng</div>
    <div class="p-2 hover:bg-blue-500 hover:text-white" [routerLink]="['chiendich']">Chiến Dịch</div>
    <div class="p-2 hover:bg-blue-500 hover:text-white" [routerLink]="['doiqua']">Đổi Quà</div>
   </div>
  </mat-drawer>
<mat-drawer-content>
  <button type="button" mat-button (click)="drawer.toggle()">
    <span class="material-icons hove">
      menu
      </span>
  </button>
  <router-outlet></router-outlet>
</mat-drawer-content>
</mat-drawer-container> -->

<router-outlet></router-outlet>
