  <div class="card border-0">
    <!-- <img class="card-img" src="assets/trangchu/trangchu2.jpg"> -->
    <img src="assets/trangchu/trangchu2.jpg" class="card-img d-lg-flex d-none">
    <img src="assets/trangchu/trangchu2_mobile.jpg" class="card-img d-lg-none d-flex">
    <div class="card-img-overlay py-12 py-lg-17 d-lg-flex d-none">
      <div class="container pt-lg-8 pb-lg-7 opacity-0">
        <p class="text-secondary mb-5 text-uppercase font-weight-600 letter-spacing-015">H.DERMA</p>
        <h1 class="fs-44 fs-lg-56 lh-121">
          VẺ ĐẸP LÀ SỰ PHÙ HỢP
          </h1>
      </div>
    </div>
  </div>
  <section class="pb-9 pt-7 pt-lg-12 pb-lg-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card bg-transparent border-0 text-center">
            <div class="card-body px-0 pb-10 pb-lg-12 pt-1">
              <h3 class="card-title fs-34 lh-129 mb-5 mx-auto" style="max-width: 610px">Vẻ đẹp cốt lõi bắt nguồn từ sự phù hợp và hài hòa với chính bạn
              </h3>
              <p class="cart-text mb-0 mx-auto text-justify" style="max-width: 670px">Xuất phát từ những nỗi trăn trở về làn da phụ nữ Việt, H.Derma hiểu rằng làn da mang trong mình sứ mệnh thể hiện vẻ đẹp của mỗi người và vẻ đẹp ấy mang một giá trị riêng mà không quy chuẩn nào có thể áp đặt hay mặc định lên vẻ đẹp đó. Thấu hiểu điều đó, H.Derma luôn đồng hành cùng bạn trên con đường khai phá vẻ đẹp riêng của chính bạn.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center mb-9 mb-lg-12">
        <div class="col-12 col-lg-6 pr-lg-0">
          <div class="hover-shine hover-zoom-in">
            <img class="w-100" src="assets/trangchu/gioithieu-1.jpg" alt="Give your skin a healthy glow everyone">
          </div>
        </div>
        <div class="col-12 col-lg-6 pl-lg-13 mt-lg-0 mt-8">
          <h3 class="card-title fs-34 lh-129 mb-5 mx-auto text-justify mr-lg-6">Am hiểu làn da để cung cấp giải pháp chăm sóc phù hợp</h3>
          <p class="mr-lg-6 text-justify">Hiểu đúng cấu tạo và đặc tính làn da người Việt vốn dĩ rất riêng biệt. Lựa chọn đúng nguyên liệu kết hợp công nghệ hàng đầu, kết tinh trong sản phẩm mang đến “cái chạm” với làn da khách hàng. Sử dụng đúng dây chuyền sản xuất tiên tiến được kiểm nghiệm khắt khe cùng đội ngũ y - bác sĩ hàng đầu để ngưng đọng trong mỗi hợp chất là sự hài hòa của yếu tố công nghệ quốc tế và làn da người Việt.
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 pl-lg-13 mt-lg-0 mt-8 order-lg-1 order-2">
          <h3 class="card-title fs-34 lh-129 mb-5 mx-auto">Sứ mệnh H.Derma</h3>
          <p class="mr-lg-10 text-justify">Thể hiện vẻ đẹp của mỗi người và vẻ đẹp ấy nằm ở sự phù hợp với những giá trị mà chúng ta đang hằng ngày kiến tạo. Khi mọi giá trị trở nên phù hợp với nhau ta sẽ thấy một chỉnh thể với vẻ đẹp hài hòa nhất</p>
        </div>
        <div class="col-12 col-lg-6 pl-lg-0 order-lg-2 order-1">
          <div class="hover-shine hover-zoom-in">
            <img class="w-100" src="assets/trangchu/gioithieu-2.jpg" alt="Our misstion">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="py-xl-12 py-11" style="background-color: #F5F5F5">
      <div class="container">
        <div class="slick-slider section-01"
       data-slick-options='{"slidesToShow": 1,"dots":false,"arrows":false,"asNavFor":".section-02"}'>
          <div class="box">
            <h4 class="mx-auto text-center mw-750">“ Con người hòa hợp với tự nhiên, nguyên liệu phù hợp với công nghệ, sản phẩm phù hợp với con người, con người phù hợp với cái đẹp nội tại bản thân.
              H.Derma vì vẻ đẹp là sự phù hợp!”</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="py-6"></div>