<div class="flex flex-col space-y-2 bg-white p-4">
  <div class="text-center font-bold text-xl">{{Chiendich.TenCD||"Thêm Mới"}}</div>
  <div class="flex flex-col space-y-2  p-3 justify-between">
    <div class="flex flex-col space-y-3">
      <div class="flex flex-row space-x-2 justify-between">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tên Chiến Dịch</mat-label>
          <input matInput placeholder="VD: Vàng" [(ngModel)]="Chiendich.TenCD">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Doanh Thu</mat-label>
          <input matInput type="number" placeholder="VD: Vàng" [(ngModel)]="Chiendich.DoanhThu">
          <span matSuffix class="ml-2 text-blue-500"
            *ngIf="Chiendich.DoanhThu">{{Chiendich.DoanhThu|number:'1.0-2'}}đ</span>
        </mat-form-field>
      </div>
      <div class="flex flex-row space-x-2 justify-between" *ngFor="let item of Chiendich.Nhiemvus">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Sản Phẩm</mat-label>
          <input type="text" matInput placeholder="Chọn Sản Phẩm" [(ngModel)]="item.Sanpham"
            (ngModelChange)="onValueChange($event)" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (blur)="onBlur()">
            <mat-option *ngFor="let option of filteredSanphams" [value]="option">
              {{ option.Tieude }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Số Lượng</mat-label>
          <input matInput type="number" placeholder="VD: Vàng" [(ngModel)]="item.Soluong">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Deadline</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Bắt Đầu" [(ngModel)]="item.Batdau">
            <input matEndDate placeholder="Kết Thúc" [(ngModel)]="item.Ketthuc">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button mat-raised-button class="bg-blue-500 text-white" (click)="addNhiemvu()">
          <span class="material-icons">
            add_circle
          </span>
          Thêm Nhiệm Vụ</button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Nội Dung Chiến Dịch</mat-label>
        <textarea matInput placeholder="Placeholder" [(ngModel)]="Chiendich.Noidung"></textarea>
      </mat-form-field>
    </div>
    <div class="flex flex-col space-y-2">
      <div class="flex md:flex-row md:space-x-2 flex-col space-y-2  items-center justify-between"
        *ngFor="let item of Hoahongs; let i=index">
        <div>{{item.capbac}} ({{Chiendich.ListMax[i]}}%) -
          <span class="text-red-500">({{Chiendich.ListActive[i]}}%)</span>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Điểm Đạt Được</mat-label>
          <input matInput type="number" placeholder="Placeholder" [(ngModel)]="Chiendich.ListDiem[i]"
            (input)="CheckListDiem(i,$event)">
          <span matSuffix>%</span>
          <mat-hint class="text-blue-500"
            *ngIf="Chiendich.ListDiem[i]">{{Chiendich.DoanhThu*Chiendich.ListDiem[i]/100|number:'1.0-2'}}đ</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Giá Trị Quà</mat-label>
          <input matInput type="number" placeholder="Placeholder" [(ngModel)]="Chiendich.ListGiatriqua[i]"
            (input)="CheckListGiatriqua(i,$event)">
          <span matSuffix>%</span>
          <mat-hint class="text-blue-500"
            *ngIf="Chiendich.ListGiatriqua[i]">{{Chiendich.DoanhThu*Chiendich.ListGiatriqua[i]/100|number:'1.0-2'}}đ</mat-hint>
        </mat-form-field>
        <hr>
      </div>
    </div>
  </div>
  <div class="flex flex-row space-x-2 justify-center">
    <ng-container *ngIf="!Chiendich.id; else elseTemplate">
      <button mat-raised-button color="basic" class="bg-blue-500 text-white hover:shadow-md" *ngIf="Chiendich"
        (click)="CreateChiendich(Chiendich)">Thêm</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button mat-raised-button class="bg-green-500 text-white hover:shadow-md" color="basic" *ngIf="Chiendich"
        (click)="UpdateChiendich(Chiendich)">Cập Nhật</button>
      <button mat-raised-button class="bg-red-500 text-white hover:shadow-md" color="basic" *ngIf="Chiendich"
        (click)="DeleteChiendich(Chiendich)">Xoá</button>
    </ng-template>
  </div>
</div>