<mat-drawer-container class="example-container w-full h-full" autosize>
  <mat-drawer #drawer mode="side" class="!flex flex-col flex-auto min-w-0 relative h-full w-2/3" position="end">
    <div class="relative flex flex-col h-full w-full overflow-auto">
      <div>
        <span class="material-icons p-3 hover:bg-gray-200 rounded-full" (click)="drawer.toggle()">
          cancel
        </span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer>
  <mat-drawer-content class="!flex flex-col flex-auto min-w-0 relative">
    <div class="flex flex-col h-full shadow">
      <div class="relative border-b-2 flex flex-col">
        <div class="flex flex-col p-3 items-center justify-between w-full">
            <mat-form-field appearance="outline" class="w-full text-xs">
                <mat-label>Tiêu Đề</mat-label>
                <input matInput (keyup)="applyFilter($event)" class="w-full" placeholder="Mô Tả">
                <span matPrefix class="material-icons mr-2">search</span>
            </mat-form-field>
            <div class="flex flex-row space-x-3 justify-start w-full">
                  <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                      <span class="material-icons text-xl"
                          matTooltip="Tùy Chỉnh">tune</span>
                      <span class="text-sm">Cấu Hình</span>
                  </div>
                  <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                      <span class="material-icons text-xl"
                          matTooltip="Lấy Mẫu">file_download</span>
                      <span class="text-sm">Download</span>
                  </div>
                  <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                      <span class="material-icons text-xl"
                          matTooltip="Upload File">file_upload</span>
                      <span class="text-sm">Upload</span>
                  </div>
                  <div class="flex items-center space-x-2 p-2 hover:bg-gray-200 rounded-lg">
                      <span class="material-icons text-xl"
                          matTooltip="Tạo mới">add_circle</span>
                      <span class="text-sm">Thêm</span>
                  </div>
            </div>
        </div>
      </div>  
      <mat-tree [dataSource]="dataSource1" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <div
            class="flex items-center justify-between space-x-4 hover:bg-gray-200 rounded cursor-pointer w-full px-3 py-1"
            routerLinkActive="bg-gray-200">
            <div class="flex items-center space-x-2 w-full" routerLink="{{ 'sanpham/'+node.Slug }}" (click)="drawer.open()">
              <span class="material-icons {{node.Trangthai == 1 ? 'text-yellow-500' : ''}}"
                (click)="updateTrangthai(node)">
                {{node.Trangthai == 1 ? 'star' : 'star_border'}}
              </span>
              <ng-container *ngIf="node.Tieude; else elseTemplate">
                <span>{{ node.Tieude }} </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="text-red-500">Chưa Có Tiêu Đề </span>
              </ng-template>
            </div>
            <div class="flex flex-row space-x-4 text-xs">
              <ng-container *ngIf="!node.Trangthai; else anhienTemplate">
                <div class="flex flex-col text-center text-green-500" (click)="UpdateField(node,'Trangthai',1)">
                  <span class="material-icons">visibility</span>
                  <span class="text-gray-500">Hiện</span>
                </div>
              </ng-container>
              <ng-template #anhienTemplate>
                <div class="flex flex-col text-center text-red-500" (click)="UpdateField(node,'Trangthai',0)">
                  <span class="material-icons">visibility_off</span>
                  <span class="text-gray-500">Ẩn</span>
                </div>
              </ng-template>
              <div class="flex flex-col text-center text-gray-500" (click)="DeleteSanpham(node.id)">
                <span class="material-icons text-red-500">delete</span>
                <span class="text-gray-500 text-xs">Xoá</span>
              </div>
            </div>
          </div>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.Title">
            <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.children.length>0">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <div
            class="flex items-center space-x-4 justify-between cursor-pointer w-full hover:bg-gray-200 px-3 py-1 rounded"
            routerLinkActive="bg-gray-200">
            <div class="flex items-center space-x-2" routerLink="{{ 'danhmuc/'+node.Slug }}" (click)="drawer.open()">
              <span class="material-icons text-yellow-500"> collections_bookmark </span>
              <ng-container *ngIf="node.Title; else elseTemplate">
                <span>{{ node.Title }} </span>
              </ng-container>
              <ng-template #elseTemplate>
                <span class="text-red-500">Chưa Có Tiêu Đề </span>
              </ng-template>
            </div>
            <div class="flex flex-row space-x-4 text-xs">
              <div class="flex flex-col text-center text-gray-500" [routerLink]="[node.id+'/spmoi']" (click)="drawer.open()">
                <span class="material-icons text-blue-500">add_circle</span>
                <span class="text-gray-500 text-xs">Thêm</span>
              </div>
              <div class="flex flex-col text-center text-gray-500" (click)="deleteDanhmuc(node.id)">
                <span class="material-icons text-red-500">delete</span>
                <span class="text-gray-500 text-xs">Xoá</span>
              </div>
            </div>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
