<form>
    <div class="container mx-auto space-y-10">
        <div class="rounded-2xl bg-indigo-900 px-10 py-5 relative space-y-5">
            <div class="flex justify-center relative pb-3">
                <input class="text-3xl text-yellow-500 font-bold uppercase w-full" [(ngModel)]="data.Title"
                    [ngModelOptions]="{standalone: true}" />
            </div>
            <div class=" text-lg text-justify relative">
                <editor [apiKey]="APITINYMCE" [(ngModel)]="data.Mota" [ngModelOptions]="{standalone: true}"
                    [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>
            </div>
        </div>
        <!-- <div class="flex items-center justify-center flex-col space-y-5 mb-10">
            <span class="text-white rounded-3xl bg-indigo-900 text-lg px-5 py-2 font-bold cursor-pointer"
                (click)="i = !i">Xem Nhanh Nội Dung
            </span>
            <ul class="space-y-3 overflow-hidden  {{
            i ? 'border border-gray-200 p-3 rounded-xl' : ''
          }} xemnhanh" [ngClass]="{ 'xemnhanh-active': i }">
                <li class="relative pb-1">
                    <p class="text-indigo-900 uppercase text-center">
                        GIỚI THIỆU CHUNG VỀ KHÓA TRIỆT LÔNG
                    </p>
                    <span class="w-40 bg-yellow-500 h-[2px] rounded absolute left-1/2 bottom-0 centerX-img"></span>
                </li>
                <li class="relative pb-1">
                    <p class="text-indigo-900 uppercase text-center">
                        KỸ NĂNG CÓ ĐƯỢC SAU KHÓA HỌC
                    </p>
                    <span class="w-40 bg-yellow-500 h-[2px] rounded absolute left-1/2 bottom-0 centerX-img"></span>
                </li>
                <li class="relative pb-1">
                    <p class="text-indigo-900 uppercase text-center">
                        TẠI SAO BẠN NÊN HỌC KHÓA TRIỆT LÔNG CÔNG NGHỆ CAO TẠI TIMONA ACADEMY
                    </p>
                    <span class="w-40 bg-yellow-500 h-[2px] rounded absolute left-1/2 bottom-0 centerX-img"></span>
                </li>
                <li class="relative pb-1">
                    <p class="text-indigo-900 uppercase text-center">
                        HỌC VIÊN ĐÁNH GIÁ VỀ TIMONA ACADEMY
                    </p>
                    <span class="w-40 bg-yellow-500 h-[2px] rounded absolute left-1/2 bottom-0 centerX-img"></span>
                </li>
            </ul>
        </div> -->
        <div class="space-y-10" *ngIf="baiviet.length > 0">
            <div class="flex justify-center relative pb-3">
                <input class="text-3xl text-indigo-900 font-bold uppercase w-full" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="baiviet[0].Title" />
                <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
            </div>
            <div class="grid grid-cols-3 gap-10">
                <div class="rounded-3xl w-full bg-white shadow-lg">
                    <img src="https://drive.google.com/uc?id={{ baiviet[1].Image }}" class="w-full rounded-3xl"
                        alt="width:590px; height:432px" />
                    <div class="p-5 space-y-3">
                        <div class="relative pb-1">
                            <input [(ngModel)]="baiviet[1].Title" [ngModelOptions]="{standalone: true}"
                                class="text-indigo-900 uppercase  text-lg font-bold h-16 border-gray-200 border w-full">

                            <span class="absolute h-[2px] rounded w-2/5 bottom-0 left-0 bg-yellow-500"></span>
                        </div>
                        <textarea [(ngModel)]="baiviet[2].Des" [ngModelOptions]="{standalone: true}"
                            class="text-justify ml-0 h-48 overflow-auto w-full scroll pr-3">

                        </textarea>
                    </div>
                </div>
                <div class="rounded-3xl w-full bg-white shadow-lg">
                    <img src="https://drive.google.com/uc?id={{ baiviet[2].Image }}" class="w-full rounded-3xl"
                        alt="width:590px; height:432px" />
                    <div class="p-5 space-y-3">
                        <div class="relative pb-1">
                            <input [(ngModel)]="baiviet[2].Title" [ngModelOptions]="{standalone: true}"
                                class="text-indigo-900 uppercase text-lg font-bold h-16 border-gray-200 border w-full">

                            <span class="absolute h-[2px] rounded w-2/5 bottom-0 left-0 bg-yellow-500"></span>
                        </div>
                        <textarea [(ngModel)]="baiviet[2].Des" [ngModelOptions]="{standalone: true}"
                            class="text-justify ml-0 h-48 overflow-auto w-full scroll pr-3">

                        </textarea>
                    </div>
                </div>
                <div class="rounded-3xl w-full bg-white shadow-lg">
                    <img src="https://drive.google.com/uc?id={{ baiviet[3].Image }}" class="w-full rounded-3xl"
                        alt="width:590px; height:432px" />
                    <div class="p-5 space-y-3">
                        <div class="relative pb-1">
                            <input [(ngModel)]="baiviet[3].Title" [ngModelOptions]="{standalone: true}"
                                class="text-indigo-900 uppercase text-lg font-bold h-16 border-gray-200 border w-full">

                            <span class="absolute h-[2px] rounded w-2/5 bottom-0 left-0 bg-yellow-500"></span>
                        </div>
                        <textarea [(ngModel)]="baiviet[3].Des" [ngModelOptions]="{standalone: true}"
                            class="text-justify ml-0 h-48 overflow-auto w-full scroll pr-3">

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative theme1" *ngIf="baiviet.length > 0">
        <div class="absolute left-0 top-0 h-full w-full">
            <img src="/assets/homepage/BG-1.png" class="h-full w-full bg-yellow-500 opacity-10" alt="" />
        </div>
        <div class="container mx-auto">
            <div class="mt-5 flex space-x-5 gioithieu-giangvien">
                <div class="w-2/3 overflow-auto relative space-y-10  pr-3 scroll">
                    <div class="bg-white rounded-3xl p-5 relative space-y-3">
                        <div class="flex justify-center relative pb-3">
                            <editor [apiKey]="APITINYMCE" [(ngModel)]="baiviet[4].Title"
                                [ngModelOptions]="{standalone: true}"
                                [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>
                            <!-- <input [(ngModel)]="baiviet[4].Title" [ngModelOptions]="{standalone: true}"
                                class="text-3xl text-indigo-900 font-bold uppercase text-center w-full border border-gray-200 px-3 py-2" /> -->
                            <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                        </div>
                        <editor [apiKey]="APITINYMCE" [(ngModel)]="baiviet[4].Des" [ngModelOptions]="{standalone: true}"
                            [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>


                    </div>
                    <div class="flex items-center justify-center">
                        <div
                            class="bg-white px-10 py-2 text-lg text-indigo-900 border-2  font-bold cursor-pointer border-indigo-900 rounded-3xl">
                            <span class="">Đăng ký tư vấn ngay</span>
                        </div>
                    </div>
                    <div class="space-y-5">
                        <div class="flex justify-center relative pb-3">
                            <input class="text-3xl text-indigo-900 font-bold uppercase w-full"
                                [(ngModel)]="baiviet[5].Title" [ngModelOptions]="{standalone: true}" />
                            <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                        </div>
                        <editor [apiKey]="APITINYMCE" [(ngModel)]="baiviet[5].Des" [ngModelOptions]="{standalone: true}"
                            [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>
                       
                        <div class="flex items-center justify-center">
                            <div
                                class="bg-white p-2 text-lg text-indigo-900 border-2 shadow-2xl font-bold cursor-pointer border-indigo-900 rounded-3xl">
                                <span class="">Liên hệ nhận lịch khai giảng</span>
                            </div>
                        </div>
                    </div>
                    <div class="space-y-5">
                        <div class="flex justify-center relative pb-3">
                            <editor [apiKey]="APITINYMCE" [(ngModel)]="baiviet[6].Title"
                                [ngModelOptions]="{standalone: true}"
                                [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>

                            <span class="absolute left-1/2 bottom-0 centerX-img h-1 bg-yellow-500 w-40 rounded-2xl"></span>
                        </div>

                        <div class="w-full">
                            <editor [apiKey]="APITINYMCE" [(ngModel)]="baiviet[6].Des"
                                [ngModelOptions]="{standalone: true}"
                                [init]="{ plugins: 'lists link image table code help wordcount', toolbar:
      'undo redo | casechange blocks | bold italic backcolor | \
      alignleft aligncenter alignright alignjustify | \
      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help' }"></editor>
                            
                        </div>
                    </div>

                </div>
                <div class="w-1/3 space-y-7 pl-5">
                </div>
            </div>
        </div>
    </div>
    <div class="fixed top-10 right-10">
        <span class="px-3 py-1 bg-green-500 text-white rounded text-xl cursor-pointer" *ngIf="baiviet.length == 0"
            (click)="onSave()">Tạo mới</span>
        <span class="px-3 py-1 bg-blue-500 text-white rounded text-xl cursor-pointer" *ngIf="baiviet.length > 0"
            (click)="onUpdate()">Cập nhật</span>

    </div>
</form>