<div class="dashboard-page-content">
  <h2 class="fs-24 mb-0">Đơn Hàng Chi Tiết</h2>
  <div class="card rounded-xl">
    <header class="card-header bg-transparent p-4">
      <div class="row align-items-center">
        <div class="col-md-6 mb-lg-0 mb-3">
          <span class="d-inline-block"><i class="far fa-calendar mr-1"></i>{{Donhang.Ngaytao|date:'dd/MM/yyyy'}} </span>
          <br>
          <small class="text-muted">Mã Đơn Hàng : {{Donhang.MaDonHang}}</small>
        </div>
      </div>
    </header>
    <div class="card-body p-4">
      <div class="row mb-8 mt-4 order-info-wrap">
        <div class="col-md-4">
          <div class="media">
            <span
              class="d-flex align-items-center justify-content-center w-48px h-48px rounded-circle bg-green-light mr-3 text-green">
              <i class="fas fa-user"></i>
            </span>
            <div class="media-body">
              <h6 class="mb-1">Khách Hàng</h6>
              <p class="mb-1">{{Donhang.Hoten}}</p>
              <p class="mb-1">{{Donhang.email}}</p>
              <p class="mb-1">{{Donhang.SDT}}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <span
              class="d-flex align-items-center justify-content-center w-48px h-48px rounded-circle bg-green-light mr-3 text-green">
              <i class="fas fa-truck"></i>
            </span>
            <div class="media-body">
              <h6 class="mb-1">Thông Tin Đơn Hàng</h6>
              <p class="mb-1">Địa Chỉ :
                {{Donhang.Diachi.Diachi+','}}{{Donhang.Diachi.Tinh+','}}{{Donhang.Diachi.Quan+','}}{{Donhang.Diachi.Phuong}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media">
            <span
              class="d-flex align-items-center justify-content-center w-48px h-48px rounded-circle bg-green-light mr-3 text-green">
              <i class="fas fa-truck"></i>
            </span>
            <div class="media-body">
              <h6 class="mb-1">Địa Chỉ Giao Hàng</h6>
              <p class="mb-1">Địa Chỉ :
                {{Donhang.Diachi.Diachi+','}}{{Donhang.Diachi.Tinh+','}}{{Donhang.Diachi.Quan+','}}{{Donhang.Diachi.Phuong}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>Sản Phẩm</th>
                  <th>Giá</th>
                  <th>Số Lượng</th>
                  <th class="text-right">Tổng</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Donhang.Donhangchitiets">
                  <td>
                    <a [href]="['/san-pham/'+item.Product.Slug]" class="media align-items-center">
                      <div class="w-60px mr-4">
                        <img [src]="[GetImage(item.Product.Hinhanh.hinhchinh.spath)]"
                          [alt]="[item.Product.Hinhanh.hinhchinh.alt]">
                      </div>
                      <div class="media-body">
                        <p class="font-weight-600 text-secondary mb-0">{{item.Product.Tieude}}</p>
                      </div>
                    </a>
                  </td>
                  <td>{{(item.Dongia| number:'1.0-0')||'0'}}đ</td>
                  <td>{{item.Soluong}}</td>
                  <td class="text-right">
                    {{(item.Soluong*item.Dongia| number:'1.0-0')||'0'}}đ
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <div class="d-flex flex-column align-items-end mw-270 ml-auto">
                      <div class="row w-100 mb-0 no-gutters">
                        <span class="col-6 mb-0">Tổng:</span>
                        <span class="col-6 text-right font-weight-normal">{{ (total|number:'1.0-0')||'0'}}đ</span>
                      </div>
                      <div class="row w-100 mb-0 no-gutters">
                        <span class="col-6 mb-0">Phí Vận Chuyển:</span>
                        <span class="col-6 text-right font-weight-normal">0đ</span>
                      </div>
                      <div class="row w-100 mb-0 no-gutters">
                        <span class="col-6 mb-0">Tổng Cộng:</span>
                        <span class="col-6 text-right fs-20 font-weight-600">{{ (total|number:'1.0-0')||'0'}}đ</span>
                      </div>
                      <div class="row w-100 no-gutters">
                        <span class="col-6 mb-0 text-muted">Trạng Thái:</span>
                        <span class="col-6 text-right fs-20 font-weight-600"><span
                                            class="badge rounded-pill alert-success text-success fs-12">Đã Thanh Toán</span>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="col-lg-4 offset-lg-1">
            <div class="box shadow-sm bg-light p-3">
              <h6 class="mb-3">Payment info</h6>
              <div>
                <div class="d-flex">
                  <div class="w-28px mr-1">
                    <img src="../images/master-card.png" class="border" alt="Card">
                  </div>
                  <p class="mb-0"> Master Card **** ****4768</p>
                </div>
                <p class="mb-0">
                  Business name: Grand Market LLC <br>
                  Phone: +1 (800) 555-154-52
                </p>
              </div>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</div>