<section class="py-2 bg-gray-2">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-site py-0 d-flex justify-content-center">
        <li class="breadcrumb-item"><a class="text-decoration-none text-body"
                                         href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active pl-0 d-flex align-items-center" aria-current="page">Login</li>
      </ol>
    </nav>
  </div>
</section>
<section class="pb-11 pb-lg-15 pt-10">
  <div class="container">
    <h2 class="fs-sm-40 mb-10 text-center">My Account </h2>
    <div class="row no-gutters">
      <div class="col-lg-10 mx-auto">
        <div class="row no-gutters">
          <div class="col-lg-6 mb-8 mb-lg-0 pr-xl-2">
            <h3 class="fs-24 mb-6">Log In</h3>
            <form class="form-control-01">
              <div class="form-group mb-4">
                <label for="exampleInputEmail1" class="sr-only">Email address</label>
                <input type="email" class="form-control border-0" id="exampleInputEmail1" name="email"
                                 placeholder="Email Address">
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputPassword1" class="sr-only">Password</label>
                <input type="password" class="form-control border-0" id="exampleInputPassword1"
                                 placeholder="Password" name="password">
              </div>
              <a href="#" class="d-inline-block fs-15 lh-12 mb-5">Forgot your password?</a>
              <button type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
              <div class="custom-control custom-checkbox mb-7">
                <input type="checkbox" class="custom-control-input" id="customCheck1" name="remember">
                <label class="custom-control-label fs-15" for="customCheck1">Keep me signed in.</label>
              </div>
              <div class="row no-gutters mx-n2">
                <div class="col-sm-6 mb-4 mb-sm-0 px-2">
                  <a href="#" class="btn btn-outline-primary btn-block text-capitalize px-2 font-weight-500">
                    <span class="d-inline-block mr-2"><i
                                          class="fab fa-facebook-f"></i></span>Continue with Facebook</a>
                </div>
                <div class="col-sm-6 mb-4 mb-sm-0 px-2">
                  <a href="#" class="btn btn-outline-primary btn-block text-capitalize px-2 font-weight-500">
                    <span class="d-inline-block mr-2">
                      <i class="fab fa-google"></i>
                    </span>Continue with Google</a>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6 pl-lg-6 pl-xl-12">
            <h3 class="fs-24 mb-3">New Customer</h3>
            <p class="mb-6">By creating an account with our store, you will be able to move through the
              checkout process
              faster, store multiple shipping addresses, view and track your orders in your account and
              more.</p>
            <a href="user-registration.html" class="btn btn-primary">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>