<section class="pb-11 pb-lg-15 pt-10" data-animated-id="1">
  <div class="container">
    <h2 class="fs-sm-40 mb-10 text-center">Tài Khoản</h2>
    <div class="row no-gutters">
      <div class="col-lg-10 mx-auto">
        <div class="row no-gutters">
          <div class="col-lg-6 mb-8 mb-lg-0 pr-xl-2">
            <h3 class="fs-24 mb-6">Đăng Nhập</h3>
            <form
              novalidate=""
              class="form-control-01 ng-untouched ng-pristine ng-valid"
            >
              <div class="form-group mb-4">
                <label for="exampleInputEmail1"
                  class="sr-only"
                  >Email</label
                ><input
                  type="text"
                  id="exampleInputEmail1"
                  name="email"
                  placeholder="Số Điện Thoại"
                  class="form-control border-0 ng-untouched ng-pristine ng-valid"
                />
              </div>
              <div class="form-group mb-3">
                <label for="exampleInputPassword1"
                  class="sr-only"
                  >Mật Khẩu</label
                ><input type="password"
                  id="exampleInputPassword1"
                  placeholder="Mật Khẩu"
                  name="password"
                  class="form-control border-0 ng-untouched ng-pristine ng-valid"
                />
              </div>
              <a href="#"
                class="d-inline-block fs-15 lh-12 mb-5"
                >Quên Mật Khẩu</a
              ><button type="submit"
                class="btn btn-primary btn-block mb-3"
              >
                Đăng Nhập
              </button>
              <div class="custom-control custom-checkbox mb-7">
                <input
                  type="checkbox"
                  id="customCheck1"
                  name="remember"
                  class="custom-control-input"
                /><label for="customCheck1" class="custom-control-label fs-15"
                  >Ghi Nhớ</label
                >
              </div>
            </form>
          </div>
          <div class="col-lg-6 pl-lg-6 pl-xl-12">
            <h3 class="fs-24 mb-3">Chưa Có Tài Khoản</h3>
            <p class="mb-6">
              Bằng cách tạo một tài khoản với cửa hàng của chúng tôi, bạn sẽ có
              thể di chuyển qua quy trình thanh toán nhanh hơn, lưu trữ nhiều
              địa chỉ giao hàng, xem và theo dõi các đơn đặt hàng của bạn trong
              tài khoản của bạn và hơn.
            </p>
            <a href="dang-ky" class="btn btn-primary">Đăng Ký</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
