<div class="flex flex-col w-full p-4">
    <div class="text-xl text-center py-4 font-bold">Đơn hàng chi tiết</div>
    <div class="flex flex-row space-x-2">
        <div class="flex flex-col space-y-2 bg-white p-6 rounded-md shadow">
            <div class="flex flex-col" *ngFor="let item of DHChitiet.Donhangchitiets; let i=index">
                  <div>{{i+1}} {{item.Product.Tieude}}</div>
                <div class="flex flex-row justify-between">
                    <div class="italic">{{item.Soluong}}x{{item.Dongia|number:'1.0-2'}}</div>
                    <div class=" text-blue-500">{{(item.Soluong*item.Dongia)|number:'1.0-2'}} đ</div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex flex-row justify-between font-bold">
                <div>Tổng Cộng</div>
                <div class="text-blue-500">{{Total(DHChitiet.Donhangchitiets)|number:'1.0-2'}}đ đ</div>
            </div>
        </div>
        <div class="flex flex-col space-y-3 bg-white p-6 rounded-md shadow w-2/5">
            <div>Khách hàng</div>
            <div class="flex flex-row">
                Mã Đơn : {{DHChitiet.MaDonHang}}
            </div>
            <div class="flex flex-row">Họ Tên : {{DHChitiet.Hoten}}</div>
            <div class="flex flex-row">Số Điện Thoại : {{DHChitiet.SDT}}</div>
            <div class="flex flex-row">Địa Chỉ : 
                {{DHChitiet.Diachi.Diachi+','||''}}
                {{DHChitiet.Diachi.Phuong+','||''}}
                {{DHChitiet.Diachi.Quan+','||''}}
                {{DHChitiet.Diachi.Tinh||''}}
            </div>
        </div>
    </div>


</div>
