<div class="!flex flex-col flex-auto min-w-0 relative bg-white">
    <div class="relative border-b-2 flex flex-row justify-between items-center p-3">
        <div></div>
        <div class="text-xl">{{user.Hoten}}</div>
        <!-- <div>
            <div class="flex items-center w-full">
                <span class="px-3 py-1 text-white rounded bg-green-500 cursor-pointer" *ngIf="!id"
                    (click)="onSubmit()">Tạo
                    mới</span>
                <span class="px-3 py-1 text-white rounded bg-blue-500 cursor-pointer" *ngIf="id"
                    (click)="updateTag()">Cập
                    nhật</span>
            </div>
        </div> -->
    </div>
    <div class="relative h-full w-full overflow-auto flex flex-col space-y-2 justify-between p-4">
      <!-- <div class="flex flex-col space-y-2">
        <mat-form-field appearance="outline">
          <mat-label>Tiêu Đề</mat-label>
          <input matInput placeholder="Mô Tả">
          <span matSuffix class="material-icons ml-2">add_circle</span>
          <span matPrefix class="material-icons mr-2">add_circle</span>
          </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-checkbox>Hide required marker</mat-checkbox>
        <mat-radio-group>
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
      </div> -->
</div>
